@media screen and (max-width: 37em) {
  .hangul__content .content__koreanList .koreanlist__item {
    padding: 0.75em;
  }
  .intro .intro__content {
    .intro__title {
      font-size: 2.5em;
    }
    .intro__subheading {
      font-size: 1.5em;
    }
  }
  .nav .nav__content {
    visibility: hidden;
  }
  .content__wordList .wordList__word {
    width: 100%;
  }
}

@media screen and (min-width: 37em) {
  .button--overlay {
    display: none;
  }
  .body .overlay.active {
    visibility: hidden;
  }
  .body {
    overflow: auto !important;
  }
}

@media screen and (min-width: 30em) {
  .nav .button--logo {
    left: 2%;
  }
}

@media screen and (min-width: 50em) {
  .nav .button--logo {
    left: 10%;
  }
}

@media screen and (min-width: 60em) {
  .nav .button--logo {
    left: 12%;
  }
}

@media screen and (min-width: 70em) {
  .nav .button--logo {
    left: 16%;
  }
}

@media screen and (max-height: 30em) {
  .intro .intro__arrow {
    bottom: 0vh;
  }
}
