@import './../../scss/variables.scss';

.match {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  &-words {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 1em 0 0 0;
    grid-template-columns: 1fr 1fr;
  }
  &-row {
    display: grid;
    column-gap: 1em;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
  }
  &-word {
    margin-bottom: 0.75em;
    button {
      width: 100%;
    }
    &--active:not(&--completed) {
      button {
        background: $accent;
      }
    }
    &--completed {
      button {
        background: $green;
        opacity: 0.7;
        cursor: initial;
        &:hover {
          background: $green;
        }
      }
    }
  }
  &-completed {
    padding-top: $spacing;
    .match-info {
      font-weight: $medium-weight;
      padding-bottom: 0.75em;
    }
    .match-row {
      display: grid;
      column-gap: 1em;
      grid-template-columns: 1fr;
    }
    button {
      min-width: 250px;
      text-align: left;
      cursor: initial;
    }
    ul {
      margin: 0;
    }
  }
  &-actions {
    margin-top: $spacing;
  }
  .button--secondary {
    font-weight: 500;
  }
  .text {
    margin: 0;
  }
}
