$accent: #595EE6;
$white: #fefefe;
$dark: #222;
$nav-height: 3em;
$nav-link-size: 1.2em;
$container-padding: 1em;
$intro-h1-size: 3em;
$intro-h2-size: 1.75em;
$section-title-size: 1.5em;
$content-text-size: 1.15em;
$content-title-size: 1.3em;
$grid-element-padding: 1.5em;
$grid-element-korean-size: 2.75em;
$grid-element-pronunciation-size: 1.4em;
$colour-selection: #c8c5cc;

@import 'partials/mixins';
@import 'partials/media-queries';
//@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

::-moz-selection { background: $colour-selection; }
::selection { background: $colour-selection; }

.noscroll {
  overflow: hidden;
}

.button--overlay {
  position: absolute;
  right: 0.5em;
  top: 0em;
  padding: 22px 11px;
  z-index: 5;
  width: 50%;
  margin: auto;
  span {
      height: 4px;
      width: 35px;
      border-radius: 2px;
      background-color: $accent;
      position: relative;
      display: block;
      transition: all .2s ease-in-out;
      &:before {
        top: -10px;
        visibility: visible;
      }
      &:after {
        top: 10px;
      }
      &:before, &:after {
          height: 4px;
          width: 35px;
          border-radius: 2px;
          background-color: $accent;
          position: absolute;
          content: "";
          transition: all .2s ease-in-out;
      }
    }
}

.button--overlay.active {
  &:hover span, span{
    background: transparent;
  }
  span {
    &:before {
      transform: rotate(45deg) translate(7px, 7px);
      opacity: 1;
      background: $white;
    }
    &:after {
      transform: rotate(-45deg) translate(7px, -7px);
      background: $white;
    }
  }
}

.overlay {
  height: 100vh;
  width: 100vw;
  background: $accent;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  transition: opacity 0.2s;
  &.active {
    visibility: visible;
    opacity: 1;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
    li {
      padding: 1em;
      a {
        color: white;
        text-decoration: none;
        backface-visibility: hidden;
        position: relative;
        display: inline-block;
        font-size: 1.5em;
        font-weight: bold;
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          bottom: -0px;
          height: 2px;
          left: 0;
          background: $white;
          transform: scaleX(0);
          transition: transform 0.18s;
        }
        &:hover:before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }
  }
}


.nav {
  height: $nav-height;
  .nav__content {
    @include nav-container;
    height: 100%;
  }
  .nav__link {
    font-size: $nav-link-size;
    font-weight: 700;
    @include link;
    margin-left: 0.8em;
    margin-right: 0.8em;
  }
}

.content__korean {
  color: $accent;
  font-weight: 600;
}

.intro {
  @include flex-container;
  padding: $container-padding;
  background: $accent;
  color: $white;
  min-height: calc(100vh - #{$nav-height});
  text-align: center;
  .intro__title {
    font-family: 'Raleway', sans-serif;
    font-size: $intro-h1-size;
    font-weight: 800;
    margin-bottom: 0.75em;
  }
  .intro__subheading {
    font-size: $intro-h2-size;
    font-weight: 300;
  }
}


.intro__arrow {
  position: absolute;
  bottom: 5vh;
  padding: 1em;
  .icon--arrow {
    border: solid $white;
    border-width: 0 0.2em 0.2em 0;
    display: inline-block;
    padding: 1em;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}


.content__link {
  @include link;
  font-weight: 600;
}

.content__blocklist {
  @include list-wrap;
  .blocklist__item--12vertical {
    @include blocklist-item;
    flex-direction: column;
  }
  .blocklist__item--123vertical {
    @include blocklist-item;
    flex-direction: column;
  }
  .blocklist__item--12horizontal {
    @include blocklist-item;
  }
  .blocklist__item--123horizontal {
    @include blocklist-item;
    flex-wrap: wrap;
    justify-content: flex-end;
    div {
      width: 50%;
    }
  }
}

.about {
  @include flex-container;
  padding: $container-padding;
  .about__title {
    @include section-title;
  }
  .about__content {
    @include flex-container;
    @include content-container;
    .content__text {
      @include content-text;
    }
    .content__title {
      @include content-title;
    }
  }
}

.main {
  padding: $container-padding;
}

/*
.hangul {
  @include flex-container;
  padding: $container-padding;
}*/

.content__title {
  @include section-title;
}

/*.hangul__content {
  @include flex-container;
  @include content-container;
}*/

.content--container {
  @include flex-container;
  padding-bottom: 2em;
}

.content__text {
  @include content-text;
}
/*
.content__title {
  @include content-title;
}*/

.content {
  @include content-container;
  @include flex-container;
}

.content__koreanlist {
  @include list-wrap;
}

.koreanlist__item {
  @include list-container;
}

.item__korean {
  @include list-korean;
}

.item__korean--blocks {
  @include list-korean;
  text-align: center;
  font-size: 2em;
}


.item__pronunciation {
  @include list-pronunciation;
}
