@import "./../../scss/variables.scss";

.home .mobile .side-panel-content {
  display: none;
}

.side-panel {
  width: 22em;
  background: $dark;
  color: $white;
  z-index: 1;
  height: 100%;
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  &.mobile {
    .mobile-header {
      padding: 0.5em 1em;
    }
    .search-form {
      margin-top: 0.5em;
    }
    &.active {
      height: 100%;
    }
  }
  .mobile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .sub-heading {
      margin: 0;
    }
  }
  .side-panel-header {
    padding: 1em;
    background: $darker;
  }
  .side-panel-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .sub-heading:first-child {
      margin-top: 0;
    }
  }
  .search-list {
    padding: 1em;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 700px) {
  .side-panel {
    width: 100%;
    height: 15vh;
    box-sizing: border-box;
  }
}