@import './../../scss/variables.scss';

.random {
  .flashcards {
    .flashcard {
      background: $off-white;
      padding: 0.5em;
      .text {
        margin: 0.4em 0;
      }
      &--dark {
        background: $off-whiter;
      }
    }
    &--test {
      cursor: pointer;
    }
  }
  
  .options {
    input {
      width: 14px;
      height: 14px;
    }
    .sub-heading {
      margin-top: 0;
      margin-bottom: 0.5em;
    }
    .option {
      display: flex;
      align-items: center;
    }
    p {
      margin: 0.25em 0 0 0;
    }
  }
}
