@import './../../scss/variables.scss';

.side-panel {
  width: 22rem;
  background: $dark;
  color: $white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin: $spacing * 2;
  border-radius: $border-radius;
  .side-panel-header {
    padding: 1em;
    background: $darker;
  }
  .side-panel-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .sub-heading:first-child {
      margin-top: 0;
    }
  }
  .search-list {
    padding: 1em;
    box-sizing: border-box;
  }
  .side-panel-nav {
    display: flex;
    flex-direction: row;
    height: $nav-height;
    width: 100%;
    z-index: 5;
    background: $accent;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius $border-radius 0 0;
    .nav-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      box-sizing: border-box;
      flex-direction: row;
      padding: 0 0.5em;
      box-sizing: border-box;
      flex: 1 auto;
      justify-content: space-between;
      a {
        color: $white;
        text-decoration: none;
        font-weight: $medium-weight;
        font-size: $m-size;
        text-decoration: none;
        &:visited {
          color: $white;
        }
        &:hover {
          color: $white;
        }
      }
    }
    .nav-logo {
      width: 2.5em;
      height: 2em;
      a {
        margin: 0;
      }
    }
  }
}



@media screen and (max-width: 1350px) {
  .side-panel-nav a {
    font-size: $s-size !important;
  }
}