.button--purple {
    @include button;
    background: $accent;
    color: $white;
    padding: 0.6em 1.3em;
    &:hover {
      background: $accent-dark;
    }
}
  
.button--white {
    @include button;
    background: $white;
    color: $accent;
    padding: 0.2em 0.5em;
    &:hover {
        background: $grey;
    }
}

.button--accent {
    text-decoration: none;
    background: $accent;
    padding: 0.5em 1.25em;
    border-radius: 0.5em;
    color: $white;
    @include smooth-transition;
    &:hover {
        background: $accent-dark;
    }
}

.button--dark {
    text-decoration: none;
    background: $blue;
    padding: 0.5em 1.25em;
    border-radius: 0.5em;
    color: $white;
    @include smooth-transition;
    &:hover {
        background: $blue-dark;
    }
}


.button--kpop {
    text-decoration: none;
    background: $kpop-accent;
    padding: 0.5em 1.25em;
    border-radius: 0.5em;
    color: $white;
    @include smooth-transition;
    &:hover {
        background: $kpop-dark;
    }
}