.slider__container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 17em;
    justify-content: center;
    .slider__content {
        height: 15em;
        margin: 1em 0;
        overflow: hidden;
        div:nth-child(odd) > .slider__item {
        background: $blue;
        }
        .slider__item {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $blue-dark;
            color: $white;
            text-decoration: none;
            height: 15em;
            cursor: pointer;
            @include smooth-transition;
            .item__info {
                padding: 1em;
                text-align: center;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                box-sizing: border-box;
                align-items: center;
                justify-content: center;
                padding: 1em;
                height: 100%;
                width: 100%;
                text-align: center;
                .full__name {
                font-size: $sub-heading-size;
                font-weight: $sub-heading-weight;
                }
                .korean__name {
                font-size: $sub-heading-size;
                font-weight: $sub-heading-weight;
            }
        }
        }
    }
    .slider__prev, .slider__next {
        @include button;
        position: absolute;
        color: $dark;
        background: $white;
        border-radius: 50%;
        padding: 0.75em;
        max-height: 52px;
        max-width: 52px;
        &:hover {
        background: $grey;
        }
    }
    .slider__prev {
        align-self: flex-start;
        margin-left: 1em;
        .material-icons {
        transform: rotate(180deg);
        }
    }
    .slider__next {
        margin-left: -1em;
        align-self: flex-end;
    }
}