@import "./../../scss/variables.scss";

.table {
  .grid {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    .grid-header {
      font-weight: $medium-weight;
    }
    .grid-item {
      display: grid;
      row-gap: 2em;
      grid-template-columns: repeat(auto-fit, minmax(min-content, 8em));
      border-bottom: 2px $light-grey solid;
      p {
        word-break: break-word;
      }
    }
    .grid-notice {
      list-style: none;
      font-weight: $medium-weight;
    }
    &--header {
      margin-top: 0.5em;
      position: sticky;
      top: 0;
      background: $white;
      border-bottom: 2px $light-grey solid;
      .grid-item {
        border: none;
      }
      .search-form {
        max-width: 400px;
      }
      p {
        margin: 0.5em 0.5em 0 0;
      }
    }
  }
}
