@import './../../scss/variables.scss';

.switch-input {
  cursor: pointer;
  input {
    display: none;
  }
  &__input {
    width: 3rem;
    height: 1.4rem;
    background: $light-grey;
    border-radius: Calc($border-radius / 2);
    border: 2px solid $grey;
    position: relative;
    transition: background $transition-slow, border-color $transition-slow;
  }
  &__selection {
    width: 1.4rem;
    height: 1rem;
    top: 50%;
    left: 0.1rem;
    position: absolute;
    transform: translateY(-50%);
    border-radius: Calc($border-radius / 2);
    background: $darker-grey;
    box-shadow: 0 1px 2px rgba(35, 37, 40, 0.24);
    transition: left $transition-slow, background $transition-slow;
  }
  &--active {
    .switch-input__input {
      background: $accent;
      border-color: $accent;
    }
    .switch-input__selection {
      left: calc(100% - 1.4rem);
      background: $white;
    }
  }
  &:hover {
    .switch-input__input {
      background: $off-whiter;
      border-color: $grey;
    }
    .switch-input__selection {
      background: $darker-grey;
    }
  }
  &:hover.switch-input--active {
    .switch-input__input {
      background: $accent-dark;
      border-color: $accent-dark;
    }
    .switch-input__selection {
      background: $white;
    }
  }
}
