@import './../../scss/variables.scss';

.switch-input {
  cursor: pointer;
  input {
    display: none
  }
  &__input {
    width: 3.2rem;
    height: 1.2rem;
    background: $light-grey;
    border-radius: Calc($border-radius / 2);
  }
  &__selection {
    width: 1.5rem;
    height: 1rem;
    top: 0.1rem;
    left: 0.1rem;
    position: relative;
    border-radius: Calc($border-radius / 2);
    background: $dark-grey;
  }
  &--active {
    .switch-input__selection {
      left: 1.5rem;
      background: $accent;
    }
  }
  &:hover {
    .switch-input__input {
      background: $off-whiter;
    }
    .switch-input__selection {
      background: $darker-grey;
    }
  }
  &:hover.switch-input--active {
    .switch-input__selection {
      background: $accent-dark;
    }
  }
}
