@media screen and (max-width: 45em) {
  html body {
    .nav {
      .nav__content {
        padding-right: 1em;
        padding-left: 1em;
        .input__search {
          width: 65%;
        }
      }
    }
    main {
      #content {
        padding-left: 1em;
        padding-right: 1em;
      }
      .grid {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

@media screen and (max-width: 60em) {
  html body {
    main {
      .grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (max-width: 25em) {
  html body {
    .nav {
      .nav__content {
        .button--logo {
          //display: none;
        }
      }
    }
  }
}
