@import './../../scss/variables.scss';

.tabs {
  display: flex;
  flex-direction: row;
  color: $darker;
  position: relative;
  &-items {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  &-item {
    display: flex;
    margin-right: 0.25em;
    font-weight: 600;
    font-size: 1em;
    transition: color 0.06s linear;
    user-select: none;
    &:hover, &:active {
      cursor: pointer;
      background: $off-white;
    }
    &--selected {
      color: $accent;
      background: $off-white;
    }
    a {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      color: $darker;
      text-decoration: none;
      padding: 0.5em 0.75em;
      &:visited {
        text-decoration: none;
      }
      i {
        padding-right: calc($spacing / 4);
      }
    }
  }
  &-dash {
    height: 4px;
    width: 40px;
    background: $accent;
    position: absolute;
    bottom: 0;
    transition: transform 200ms, width 0.1s ease-in;
  }
}
