@import './variables.scss';

body {
  font-family: rubik, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  color: $darker;
}

#app {
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  height: 100%;
}

#nav {
  height: 3em;
  width: 100%;
  z-index: 5;
  background: $accent;
  .nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    flex-direction: row;
    height: 3em;
    a {
      margin: 0 1em;
      color: $white;
      text-decoration: none;
      font-size: $m-size;
      &:visited {
        color: $white;
      }
      &:hover {
        color: $white;
        text-decoration: underline;
      }
      &.router-link-exact-active {
        text-decoration: underline;
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
  box-sizing: border-box;
  .home-content {
    max-width: 60em;
  }
  .intro {}
  .intro-links {
    display: flex;
    flex: 1 auto;
    ul {
      margin: 0;
      list-style: none;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em;
      width: 100%;
      li {
        display: flex;
        flex: 1 auto;
        justify-content: center;
        &:hover {
          a {
            text-decoration: underline;
          }
        }
        a {
          display: flex;
          flex: 1 auto;
          justify-content: center;
          color: $white;
          text-decoration: none;
          padding: 5em 1em;
          background: $accent;
        }
      }
    }
  }
}

.update-list {
  padding: 0;
  list-style: none;
}

.text-list {
  list-style: none;
  padding-left: 0;
  li {
    display: flex;
    flex: 1 auto;
    &.active a {
      color: $accent;
    }
  }
  a {
    padding: 0.2em 0;
    text-decoration: none;
    font-weight: $regular-weight;
    &:hover {
      //text-decoration: underline;
    }
  }
  &.no-results {
    p {
      font-weight: $regular-weight;
    }
  }
}

.grid {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  font-size: $s-size;s
  .grid-header {
    font-weight: $medium-weight;
  }
  .grid-item {
    display: grid;
    row-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 8em));
    border-bottom: 2px $light-grey solid;
  }
}

input {
  background: $grey;
  border-radius: 4px;
  color: $light-grey;
  border: 0;
  padding: 0.4em 0.6em;
  font-family: rubik, sans-serif;
  font-size: $s-size;
  &[type="text"]::placeholder {
    color: $light-grey;
  }
}

button {
  border: 0;
  background: $dark-grey;
  color: $white;
  border-radius: 4px;
  padding: 0.4em 0.6em;
  font-family: rubik, sans-serif;
  cursor: pointer;
  transition: background $transition-slow;
  &:hover {
    background: $darker-grey;
  }
}

.search-form {
  display: flex;
  flex-direction: row;
  input {
    border-radius: 0;
    width: 100%;
  }
  .button--search {
    border-radius: 0 4px 4px 0;
    padding: 0.4em 1em;
  }
  .button--close {
    border-radius: 4px 0 0 4px;
    padding: 0.4em 0.4em;
  }
}

.page-header {
  padding-top: 1em;
  .heading {
    margin: 0;
  }
  .sub-heading {
    margin: 0;
    color: $dark-grey;
  }
}

.page-type-heading {
  font-size: $m-size;
  font-weight: $medium-weight;
}

.heading {
  font-size: $l-size;
  font-weight: $bold-weight;
}

.sub-heading {
  font-size: $m-size;
  font-weight: $bold-weight;
}

.search-list {
  .text-list {
    .list-item {
      padding: 0.1em 0.3em;
      border-radius: 4px;
      transition: background $transition-fast;
      a {
        color: $white;
        font-size: $s-size;
        font-weight: $regular-weight;
        width: 100%;
        a:visited {
          color: $white;
        }
      }
      &.active {
        //text-decoration: underline;
        background: $accent;
      }
      &:hover:not(.active) {
        background: $grey;
      }
      p {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 40em) {
  .main {
    flex-direction: column;
    .intro-links {
      ul {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
