$accent: #595EE6;
$darker: #222;
$dark: #353539;
$darker-grey: #45454e;
$dark-grey: #4E4E57;
$grey: #676770;
$light-grey: #ececec;
$white: #fefefe;

$l-size: 1.5em;
$m-size: 1.25em;
$s-size: 1.05em;

$transition-slow: 0.2s;
$transition-fast: 0.05s;

$bold-weight: 700;
$medium-weight: 500;
$regular-weight: 400;