@import "./../../scss/variables.scss";

.main-panel {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 10;
  background: $white;
}