@import './../../scss/variables.scss';

body {
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

html, body, #korean-handbook-vue {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: $darker;
  background: $off-white;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.button--logo {
  z-index: 5;
  .logo {
    width: 100%;
    height: 100%;
    .shape {
      fill: $white;
    }
  }
}

.random-page,
.info-page,
.match-page,
.test-page {
  .page-content {
    margin-bottom: calc($spacing * 4);
  }
}

.home-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  .main-panel {
    margin-left: $spacing * 2;
  }
  .text {
    margin: 0;
  }
  .header-panel {
    h1 {
      font-size: $xl-size;
      font-weight: $bold-weight;
      margin-bottom: 0.25em;
    }
    h2 {
      font-size: $m-size;
      font-weight: $medium-weight;
      color: $darker-grey;
      margin-top: 0;
    }
  }
  .page-content {
    flex: none;
    padding: calc($spacing * 2);
    &:last-of-type {
      margin-top: 0;
      height: auto;
      flex: initial;
    }
  }
  .intro-links {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 450px));
    grid-gap: 1em;
    .intro-link {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-decoration: none;
      height: 120px;
      padding: 0 $spacing;
      background: $accent;
      color: $white;
      border-radius: $border-radius;
      transition: background $transition-slow;
      &:hover {
        text-decoration: none;
        background: $accent-dark;
      }
      .link-main {
        display: flex;
        font-size: $m-size;
        font-weight: $medium-weight;
        color: $white;
        margin: 0;
      }
      .link-description {
        font-size: $s-size;
        font-weight: $thin-weight;
        text-decoration: none;
        color: $white;
        margin: 0;
      }
      .text-link:hover {
        text-decoration: none;
      }
      .link-icon {
        margin-right: 0.25em;
      }
    }
    .intro-item {
      background: #f6f6f6;
      padding: 1em;
      .heading {
        margin-top: 0;
      }
    }
  }
}

.text-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  width: 100%;
  padding-right: 0.5em;
  li {
    display: flex;
    flex: 1 auto;
    &.active a {
      color: $accent;
    }
  }
  a {
    padding: 0.2em 0;
    text-decoration: none;
    font-weight: $regular-weight;
  }
  &.no-results {
    p {
      font-weight: 400;
    }
  }
}

.block {
  display: flex;
  flex-direction: column;
  p:not(.heading) {
    margin-top: 0;
  }
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  background: $white;
  border-radius: $border-radius;
  margin-top: calc($spacing * 2);
  margin-bottom: calc($spacing * 2);
  overflow: hidden;
}

input {
  background: $grey;
  border-radius: $border-radius;
  color: $light-grey;
  border: 0;
  padding: 0.4em 0.6em;
  letter-spacing: 0.025em;
  font-family: rubik, sans-serif;
  font-size: $s-size;
  &[type='text']::placeholder {
    color: $light-grey;
  }
}

button {
  border: 0;
  background: $darker-grey;
  color: $white;
  border-radius: $border-radius;
  padding: 0.4em 0.6em;
  font-family: rubik, sans-serif;
  user-select: none;
  cursor: pointer;
  transition: background $transition-slow;
  &:hover {
    background: $darker-grey;
  }
}

.button--primary {
  padding: 0.6em 0.8em;
  background: $accent;
  font-weight: $medium-weight;
  font-size: $s-size;
  font-size: $s-size;
  &:hover {
    background: $accent-dark;
  }
}

.button--secondary {
  padding: 0.6em 0.8em;
  background: $darker-grey;
  font-weight: $medium-weight;
  font-size: $s-size;
}

.text-link {
  text-decoration: none;
  color: $accent;
  font-weight: $medium-weight;
  &:hover {
    text-decoration: underline;
    color: $accent;
  }
  &:visited {
    text-decoration: none;
  }
}

.heading {
  font-size: $l-size;
  font-weight: $medium-weight;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.sub-heading {
  font-size: $m-size;
  font-weight: $medium-weight;
  margin-top: 0;
}

.text {
  font-size: $s-size;
  &--bold {
    font-weight: $medium-weight;
  }
}

.hidden {
  display: none !important;
}

.material-icons {
  line-height: 1.2;
}

button {
  &:disabled,
  &:disabled:hover {
    background: $off-whiter;
    cursor: not-allowed;
  }
}

#app:not(.mobile) {
  *::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: $off-whiter;
  }
  *::-webkit-scrollbar-thumb {
    background: $grey;
  }
  *::-webkit-scrollbar-thumb:hover {
    background: $darker-grey;
  }
}

.mobile-category-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: $darker;
  z-index: 100;
  padding: Calc($spacing / 2) $spacing;
  overflow: hidden;
  .search-form {
    padding-bottom: $spacing;
  }
  .heading {
    color: $white;
    margin: 0 0 $spacing 0;
    text-align: center;
  }
  .no-results {
    color: $white;
  }
}

.category-open, .category-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: Calc($spacing / 2) $spacing;
  z-index: 999;
  font-size: 2rem;
  cursor: pointer;
}

.category-open {
  color: $accent;
}

.category-close {
  color: $white;
}

.tool {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  &-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: calc($spacing * 2);
  }
  &-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: calc($spacing * 2) $spacing;
    border-top: 2px $off-white solid;
    gap: $spacing;
  }
  &-options {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: calc($spacing * 2);
    user-select: none;
    max-width: 40rem;
    width: 100%;
    input {
      width: 14px;
      height: 14px;
    }
    .sub-heading {
      margin-top: 0;
      margin-bottom: Calc($spacing / 2);
    }
    p {
      margin: Calc($spacing / 4) 0 0 0;
    }
  
    &-option {
      display: flex;
      align-items: center;
    }
  }
  &-instructions {
    margin: 0;
    text-align: center;
  }
}

#app.mobile {
  background: $white;
  .text {
    font-size: 1rem;
  }
  .main-panel {
    margin: 0;
    border-radius: 0;
  }
  .page-content {
    border-radius: 0;
  }
  .home-page {
    .page-content {
      padding: $spacing;
    }
    h1 {
      font-size: $xl-size-mobile;
    }
    h2 {
      font-size: $s-size-mobile;
      text-align: left;
      font-weight: $regular-weight;
    }
  }
  .intro-links {
    .text-link {
      font-size: $l-size-mobile;
    }
    .link-description {
      font-size: $s-size-mobile;
    }
    .intro-link {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    .link-icon {
      padding-right: Calc($spacing / 2);
    }
  }
  .header-panel {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: $spacing;
    padding-bottom: 0;
    h2 {
      margin: 0;
    }
  }
  .tool {
    &-content {
      padding: $spacing;
      margin-bottom: 5rem;
    }
    &-actions {
      padding: calc($spacing * 1.25) $spacing;
      margin-bottom: 3.6rem;
      position: fixed;
      bottom: 0;
      width: 100%;
      background: $white;
    }
  }
  .main {
    flex-direction: column;
    .intro-links {
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
    }
    .intro-link {
      height: 80px;
      .link-main {
        font-size: $m-size-mobile;
      }
      .link-description {
        font-size: $xs-size-mobile;
      }
    }
    .page-content {
      margin: 0;
      overflow: auto !important;
    }
    .grid {
      .grid-item {
        display: grid;
        row-gap: 1em;
        grid-template-columns: 50% 50%;
      }
    }
  }
  .info-page {
    .grid-search {
      background: none;
      padding-top: 0;
    }
    .search-form {
      max-width: 100%;
    }
  }
 .main.home-page {
    .page-content {
      overflow: initial !important;
      &:last-child {
        padding-top: 0;
      }
    }
    .main-panel {
      overflow: auto !important;
      padding-bottom: $spacing;
    }
  }
  .tabs { 
    width: 100%;
    height: 4rem;
    background: $white;
    box-shadow: 0px -4px 8px 1px rgb(103 103 103 / 10%);
    &-item {
      flex: 1;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      a {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 12px;
      }
      &--selected {
        a {
          color: $accent;
          background: #f7f7f7;
        }
      }
    }
    &-items {
      display: grid;
      row-gap: 1em;
      grid-template-columns: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      width: 100%;
    }
  }
  .random {
    .random-flashcard {
      height: 60px;
    }
  }
  .table {
    margin-top: $spacing;
  }
}