//- index.pug
doctype html
html
  include includes/head.pug
  body.body
    div#app
      div.overlay
        ul
          li
            a.overlay__link.scroll(href="#intro",  data-scroll, @click="overlay()") Intro
          li
            a.overlay__link.scroll(href="#consonants",  data-scroll, @click="overlay()") Consonants
          li
            a.overlay__link.scroll(href="#vowels",  data-scroll, @click="overlay()") Vowels
          li
            a.overlay__link.scroll(href="#rules",  data-scroll, @click="overlay()") Rules
          li
            a.overlay__link.scroll(href="/random.html",  data-scroll, @click="overlay()") Random Words
      nav.nav
        a.button--overlay(@click="overlay()")
          span
        a.button--logo(href="#home")
          include includes/logo.pug
        div.nav__content
          a.nav__link.scroll(href="#intro",  data-scroll) Intro  
          a.nav__link.scroll(href="#consonants",  data-scroll) Consonants  
          a.nav__link.scroll(href="#vowels",  data-scroll) Vowels  
          a.nav__link.scroll(href="#rules",  data-scroll) Rules  
          a.nav__link--focused.scroll(href="/random.html",  data-scroll) Random Words 
      main#app
        section.intro#home
          section.intro__content
            h1.intro__title The Korean Handbook
            h2.intro__subheading An intro to the basics of Korean
          a.intro__arrow.scroll(href="#about")
            div.icon--arrow 
        section.content--container
          section.content#about
            h3.content__title About
            section.about__content
              p.content__text  
               | Welcome to The Korean Handbook where you will get to learn the basics of the 
               | Korean language, starting with the alphabet known as Hangul or in Korean as #[span.k 한굴]
               | . This website is developed and maintained by 
               a.content__link(href="http://danielhearn.co.uk") Daniel Hearn
               |  feel free to 
               a.content__link(href="mailto:korean@danielhearn.co.uk") email me
               | , but is open source on 
               a.content__link(href="https://github.com/DanielHearn/Korean-Handbook") Github
               |  if you would like to contribute content (I would especially appreciate audio).
              p.content__text I also developed a random korean word generator available 
                a.content__link(href="../random.html") here
                | .
              p.content__text But enough with the introduction, lets get started!
          section.content#intro
            h3.content__title Intro to Hangul
            section.hangul__content
              p.content__text 
                | The Korean alphabet or Hangul (#[span.k 한굴]
                | ) is actually easy to learn when compared to alphabets from other languages such as Chinese and Japanese.
                | This is due to Korean requiring considerably less memorisation, the following sections will teach you the Hangul and romanized versions of the 
                | consonants, vowels, basic combinations and basic language rules. Once you understand Hangul you 
                | should then avoid looking at romanized versions of words, the romanizations used below aim to be the best representations using
                | English but you should use audio of the characters and words ensure accurate pronunciation. 
              p.content__text 
                | The Korean language was originally written using Chinese characters known as Hanja but is now written using Hangul which was 
                | was introduced and official published in 1446 by King Sejong.
              p.content__text 
                | Korean contains consonants and vowels assembled into blocks which are similar to syllables. Basic words include #[span.k 안녕하세요]
                |(hello) pronounced as an-nyeong-ha-se-yo, #[span.k 년] (year) pronounced as nyeon, and #[span.k 날씨]
                | (weather) pronounced as nal-ssi. 
          section.content
            h3.content__title Loan words and Konglish
            section.hangul__content
              p.content__text 
                | There are also loan words from English such as #[span.k 메뉴] 
                | which is both pronounced and written as menyu (menu), or #[span.k 주스] 
                | also pronounced and written as juseu (juice). As well there are also the commonly misunderstood Konglish words which are often confused 
                | with the loan words. This term is used for words that use English words but have a different meaning in Korean such as #[span.k 개그맨] 
                | or gag man which means comedian in Korean.
          section.content
            h4.content__title Blocks
            p.content__text 
              | Korean is made up of blocks which also act as syllables, these are made up of the individual korean characters known as #[span.k 자모] 
              | (pronounced as jamo) . These blocks can be constructed in different ways as summarised below.
              | The first element is always a consonant which can also be pronounced silently if it is a 
              | #[span.k ㅇ] (ng) as you will learn within the rules later on. Next
              | will be either one or two vowels below or to the right inside of the block, finally sometimes there will be a final consonant at the bottom
              | of the block.
            p.content__text  
              | Most blocks will contain 2 to 3 characters either horizontally and vertically, but as well there are a few very unique outlier words with 
              | 4 or 5 characters in their blocks such as #[span.k 닭] (chicken).
            ul.content__blocklist
              li.blocklist__item
                div.blocklist__item--12vertical
                  div 1 
                  div 2
                p.item__korean--blocks 무
              li.blocklist__item
                div.blocklist__item--123vertical
                  div 1 
                  div 2
                  div 3
                p.item__korean--blocks 극
              li.blocklist__item
                div.blocklist__item--12horizontal
                  div 1 
                  div 2
                p.item__korean--blocks 가
              li.blocklist__item
                div.blocklist__item--123horizontal
                  div 1 
                  div 2
                  div 3
                p.item__korean--blocks 긱
                li.blocklist__item
                  div.blocklist__item--123horizontal
                    div 1 
                    div 2
                    div 3
                    div 4
                  p.item__korean--blocks 닭
          section.content#consonants
            h4.content__title Consonants
            p.content__text
              | Below are all of the Korean consonants, most of which are very straightforward due to their uniqueness
              | with the only #[span.k ㅈ] (j) and #[span.k ㅊ] (ch) being similar in shape depending on the font style 
              | being used. In terms of their pronunciation only #[span.k ㄹ] is should require more practice as it 
              | sounds like a mix between r and l, and may require time to get used to.
            ul.klist
              li.koreanlist__item(v-for="consonant in consonants")
                p.item__korean {{consonant.korean}}
                p.item__pronunciation {{consonant.pronunciation}}
          section.content
            h4.content__title Doubled Consonants
            p.content__text
              | The consonants can also be doubled up causing their sound to be pronounced stronger.
            ul.klist
              li.koreanlist__item(v-for="double in doubles")
                p.item__korean {{double.korean}}
                p.item__pronunciation {{double.pronunciation}}
          section.content#vowels
            h4.content__title Vowels
            p.content__text
              | Next are the vowels, these are seperated into vertical and horizontal alignments, with vowels being aligned 
              | based on the orientation of the main line of the vowel. These characters should be easy to learn as most
              | have mirrored and doubled versions for the y characters.
            ul.klist
              li.koreanlist__item(v-for="vowel in vowels")
                p.item__korean {{vowel.korean}}
                p.item__pronunciation {{vowel.pronunciation}}
          section.content
            h4.content__title Vowel Combinations
            p.content__text
              | While most blocks will be pronounced according to the placement of their characters, their are other combinations mainly
              | focused on the pronunciation of w sounds.
            ul.klist
              li.koreanlist__item(v-for="combination in combinations")
                p.item__korean {{combination.korean}}
                p.item__pronunciation {{combination.pronunciation}}
          section.content#rules
            h4.content__title Basic Language Rules
            p.content__text
              | Additionally there are rules or outliers to the korean language, the basics of these rules are summarised below.
            p.content__text #[strong ㅇ - Ieung Block Placement]
            p.content__text
              | The character #[span.k ㅇ] (ng) will be pronounced differently depending on its location within the block, which are
              | described in the next few lines.
            p.content__text
              | The #[span.k ㅇ] character is silent and not pronounced if placed as the initial character in a block. For example 
              | #[span.k 엄마] is pronounced eomma with the #[span.k ㅇ] (ng) being silent.
            p.content__text
              | If the #[span.k ㅇ] is positioned somewhere in the middle of a word there are two possibilities as shown below:
              ol 
                li
                  | If #[span.k ㅇ] follows a consonant the #[span.k ㅇ] replaces the preceding consonant, for example 
                  | #[span.k 한국어] is instead pronounced as #[span.k 한구거]  
                li
                  | If #[span.k ㅇ] is not preceded by a consonant the character is silent.
              p.content__text
                | If  #[span.k ㅇ] is in the final position it is pronounced with an ng sound, for example 
                | #[span.k 강] is pronounced as kang.
            p.content__text #[strong T-Stops]
            p.content__text
              | There are also some consonants that if placed in the final position within a block will be pronounced with the
              | #[span.k ㅌ] (t) sound, these characters are #[span.k ㄷ] , #[span.k ㅅ] , #[span.k ㅆ] , #[span.k ㅈ] , #[span.k ㅊ].
              | For example #[span.k 맛] is pronounced as mat, #[span.k 꽃] pronounced as got, and #[span.k 있다] pronounced as itda.
          section.content#words
            h4.content__title Basic Words
            p.content__text
              | Next use the consonants and vowels you just learnt and try reading various beginner words and phrases with just hangul and without romanizations.
            p.content__text You can also test your new knowledge on my random korean word generator available 
              a.content__link(href="../random.html") here
                | .
            ul.content__wordList
              li.wordList__word(v-for="word in words")
                p.k--wordList {{ word.word }}
                p.content__text {{ word.meaning }}
          section.content
            h4.content__title Next Steps
            p.content__text
              | Now that you understand the very basics of the Korean language you can start to learn words, sentence structure, grammar and really
              | start learning Korean and fully get to grips with the language. Below are a list of recommended sites for continuing you learning.
              ul.content__next-steps
                li.next-steps__source
                  a.source__link--next-steps(href="https://www.howtostudykorean.com/unit1/") howtostudykorean.com
                  p.source__price Free lessons, paid PDFs and audio
                  p.source__description 
                    | A collection of over 130 lessons which are regulary updated, all lessons are free but paid PDF workbooks 
                    | are available with additional information and explanations. Audio pronunciation is also
                    | available from a native speaker, some beginner lessons have also been translated into other languages such as Spanish, German and Portuguese languages available at the 
                    a.content__link(href="https://www.howtostudykorean.com/about/") bottom of their about page
                    | .
                li.next-steps__source
                  a.source__link--next-steps(href="https://www.duolingo.com/course/ko/en/Learn-Korean-Online") DuoLingo
                  p.source__price Free 
                  p.source__description DuoLingo offers a gamification of language learning with their emphasis on short daily learning via their app and website.
                li.next-steps__source
                  a.source__link--next-steps(href="http://domandhyo.com/") Dom & Hyo
                  p.source__price Free infographics and paid PDFs
                  p.source__description Dom & Hyo offer a large amount of infographics that teach Korean vocabulary and grammar. Additional paid PDFs are for sale as well to assist with your learning.
                li.next-steps__source
                  a.source__link--next-steps(href="http://www.sejonghakdang.org") King Sejong Insitute
                  p.source__price Free 
                  p.source__description 
                    | The official South Korean insitute dedicated to teaching Korean, their website offers various videos and materials (ps the website will start in Korean but can be changed to English via the top right button).
                    | They also have a very useful app with daily words, vocabulary, games and other materials, this app is available on both 
                    a.content__link(href="https://itunes.apple.com/us/app/sejong-korean-vocab-basic/id1225535651?mt=8") iTunes  
                    |  and 
                    a.content__link(href="https://play.google.com/store/apps/details?id=schoolview.dcn.com.kingsejong&hl=en_GB") Google Play
                li.next-steps__source
                  a.source__link--next-steps(href="https://www.koreanclass101.com/") KoreanClass101
                  p.source__price Limited free materials and multiple paid plans
                  p.source__description KoreanClass101 offer over 1600 audio and video lessons focused on fun learning rather than heavy text based learning, their free content is limited but there are multiple paid subscription levels to 
                    | ensure that you can get the materials suited to your learning needs. They also have a regularly updated 
                    a.content__link(href="https://www.youtube.com/user/koreanclass101/videos") Youtube channel  
                    |  with various Korean language tips and guides.
                li.next-steps__source
                  a.source__link--next-steps(href="https://en.wikibooks.org/wiki/Korean/Lesson_I1") Wikibooks Korean
                  p.source__price Free 
                  p.source__description Wikibooks contains lessons teaching basic conversational Korean, but as it is open source and not fully complete and looks like it could do we more contributions with its more advanced content.
          section.content
            h4.content__title Sources
            p.content__text
              | Below are the sources used to construct this guide and confirm that the information is correct.
              ul.content__sources
                li.sources__source(v-for="source in sources")
                  a.source__link(v-bind:href="source.url") {{ source.name }}
                  p.source__description {{ source.description }}
        include includes/footer.pug

        
