//- random.pug
doctype html
html
  include includes/head-random.pug
  body.body
    div#app
      div.overlay
        ul
          li
            a.overlay__link.scroll(href="../",  data-scroll, @click="overlay()") Korean Language Intro  
      nav.nav
        a.button--overlay(@click="overlay()")
          span
        a.button--logo(href="../")
          include includes/logo.pug
        div.nav__content
          a.nav__link--focused.scroll(href="../",  data-scroll) Korean Language Intro  
      main#app
        section.intro#home
          section.intro__content
            h1.intro__title Random Korean Words
            h2.intro__subheading Click below to generate a random Korean word
            div#generatedWord
              .pulseLoader(v-bind:class="{ hideLoader: dbLoaded }")
                .pulse
                .pulse
              h2#generatedWord_korean {{word}}
              h3#generatedWord_english {{korean}}
            button(@click="generateWord()") Generate Word
        include includes/footer.pug

          
