$accent: #5d61da;
$accent-dark: #5356b8;
$darker: #222;
$dark: #353539;
$darker-grey: #45454e;
$dark-grey: #4E4E57;
$grey: #676770;
$light-grey: #ececec;
$white: #fefefe;
$off-white: #f3f3f3;
$off-whiter: #e6e6e6;

$green: #1d9321;

$l-size: 1.5em;
$m-size: 1.25em;
$s-size: 1.1em;

$transition-slow: 0.2s;
$transition-fast: 0.05s;

$bold-weight: 700;
$medium-weight: 600;
$regular-weight: 500;

$nav-height: 3em;