@import './../../scss/variables.scss';

.search-form {
  display: flex;
  flex-direction: row;
  input {
    border-radius: 0;
    width: 100%;
    border-radius: $border-radius 0 0 $border-radius;
  }
  .button--search {
    border-radius: 0 $border-radius $border-radius 0;
    padding: 0.4em 1em;
  }
  .button--close {
    border-radius: $border-radius 0 0 $border-radius;
    padding: 0.4em 0.4em;
  }
  &--active {
    input {
      border-radius: 0;
    }
  }
}
