.ad {
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  min-height: unset !important;
  background: $blue-darker;
  .ad__message {
    display: none;
    color: $white;
    h2 {
      padding: 1em;
      font-size: 1.2em;
    }
  }
  .adsbygoogle {
    width: 100%;
    heigt: 100%;
  }
  &.loaded {
    background: $white !important;
  }
}