.ad {
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  min-height: unset !important;
  .ad__message {
    display: none;
    color: $dark;
    h2 {
      padding: 1em;
    }
  }
  ins {
    width: 100%;
  }
  &.loaded {
    background: $grey !important;
  }
}