.button--purple {
    @include button;
    background: $accent;
    color: $white;
    padding: 0.5em 1em;
    &:hover {
      background: $accent-dark;
    }
}
.button--dark {
    @include button;
    background: $dark;
    color: $white;
    padding: 0.5em 1em;
    &:hover {
      background: $darker;
    }
}
