.button--purple {
    @include button;
    background: $accent;
    color: $white;
    padding: 0.3em 0.75em;
    &:hover {
      background: $accent-dark;
    }
}
.button--dark {
    @include button;
    background: $blue-dark;
    color: $white;
    padding: 0.3em 0.75em;
    &:hover {
      background: $blue-darker;
    }
}
