$button-padding: 0.4em 0.8em;

.button--purple {
    @include button;
    background: $accent;
    color: $white;
    padding: $button-padding;
    &:hover {
      background: $accent-dark;
    }
}
.button--dark {
    @include button;
    background: $dark;
    color: $white;
    padding: $button-padding;
    &:hover {
      background: $darker;
    }
}
