main {
  background: $white;
  min-height: 100vh;
  flex: 5;
  z-index: 1;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: row;
}

.related-content {
  font-weight: 600;
  color: $dark;
  padding: $content-padding/2 $content-padding;
}

.form--search {
  display: flex;
  .input__search {
    max-width: 8em;
  }
}

.input__search {
  font-family: 'Open Sans', sans-serif;
  font-size: $input-size;
  font-weight: $input-weight;
  color: $grey;
  background: $white;
  border: none;
  margin: 0;
  padding: 0.2em 0.5em;
  max-width: 10em;
  @include smooth-transition;
}

.content__heading {
  font-size: $heading-size;
  font-weight: $heading-weight;
  color: $white;
}

.content__subheading {
  font-size: $sub-heading-size;
  font-weight: $sub-heading-weight;
  color: $white;
}

p {
  font-size: $p-size;
  font-weight: $p-weight;
}

.content__title {
  font-size: $sub-heading-size;
  font-weight: $sub-heading-weight;
  color: $white;
}

a {
  text-decoration: none;
}

.grid--related-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid__item {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  height: 15em;
  &:hover .item__bg {
    filter: contrast(90%) brightness(55%);
    transform: scale(1.05);
  }
  .grid__link {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex: 1;
    position: relative;
    color: $white;
  }
  .grid__info {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 2;
    backface-visibility: hidden;
    .info__full-name {
      font-size: $sub-heading-size;
      font-weight: $sub-heading-weight;
      color: $white;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 1em;
    }
    .info__korean-name {
      @include korean-text; 
      font-size: $sub-heading-size;
      font-weight: $sub-heading-weight;
      color: $white;
      margin: 1em;
    }
  }
  .item__bg {
    @include background-image;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: contrast(80%) brightness(50%);
    object-fit: cover;
    backface-visibility: hidden;
    transform: scale(1.01);
    transition: filter 0.15s ease-in-out, transform 0.3s ease-in-out;
  }
}

.header {
  padding: $content-padding/2 $content-padding;
  background: $accent;
  color: $white;
}

.flex {
  display: flex;
}

.link-text {
  @include link-underline;
  font-weight: 600;
  &.accent {
    color: $accent;
    &:visited {
      color: $accent;
    }
    &:before {
      border-bottom: 0.2em solid $accent;
    }
  }
  &.white {
    color: $white;
    &:visited {
      color: $white;
    }
    &:before {
      border-bottom: 0.2em solid $white !important;
    }
  }
}

.row__search {
  padding: 0.5em 1em 0.5em 0;
  display: flex;
  flex-wrap: wrap;
  .resultsCounter {
    color: $white;
    margin: 0.5em;
    margin-left: 2em;
  }
}

.list {
  display: flex;
  flex: 1;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  .list__row {
    @include rows_2;
    color: $dark;
    &:nth-child(n) {
      border-bottom: 2px $off-white solid;
    }
  }
  .column__title {
    @include rows_2;
    padding: 0.5em 1em 0.5em 0;
    p {
      font-size: $p-size;
      font-weight: $sub-heading-weight;
      color: $white;
      margin: 0.75em 0;
    }
  }
}

.info__content {
  padding: $content-padding/2 $content-padding;
  display: flex;
  flex: 1;
}

.content__link {
  text-transform: uppercase;
  @include link-underline;
  &.is-active {
    &:before {
      transform: translateY(0em) ;
      opacity: 1;
    }  
  }
}

/*
.rounded {
  border-radius: 0.2em;
}


#content {
  margin-left: auto;
  margin-right: auto;
  padding-left: $content-padding;
  padding-right: $content-padding;
  padding-top: 5em;
  max-width: $content-width;
  height: 100%;
  &:last-child {
    padding-bottom: $content-padding*2;
  }
}*/

/*
.content__header {
  display: flex;
  align-items: center;
}

.content__title {
  font-size: $heading-size*1.3;
  font-weight: $heading-weight;
  color: $dark;
  margin: 0.6em 0 0.6em 0;
}

.content__heading {
  font-size: $heading-size;
  font-weight: $heading-weight;
  color: $dark;
}

.content__subheading {
  font-size: $sub-heading-size;
  font-weight: $sub-heading-weight;
  color: $grey-darkest;
}

.content__text--important {
  font-size: $p-size;
  font-weight: $sub-heading-weight;
  color: $grey-darkest;
}

.inline *{
  display: inline-block;
}

.content__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: $content-padding;
  grid-column-gap: $content-padding*2;
  padding-bottom: $content-padding;
  height: 100%;
  .grid__item {
    background: $grey-dark;
    color: $dark;
    text-decoration: none;
    min-height: 13em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    color: $white;
    @include smooth-transition;
    &.tool {
      //border-top: solid 0.5em $blue;
    }
    &.info {
      //border-top: solid 0.5em $accent;
    }
    &.related-title {
      min-height: unset;
      grid-column: span 2;
      color: $dark;
      background: none;
    }
    .item__bg {
      @include background-image;
      position: absolute;
      width: 100%;
      height: 100%;
      filter: brightness(50%);
    }
    .grid__info {
      padding: 1em;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      padding: 1em;
      height: 100%;
      width: 100%;
      text-align: center;
      z-index: 2;
      .full__name {
        font-size: $sub-heading-size;
        font-weight: $sub-heading-weight;
      }
      .korean__name {
        font-size: $sub-heading-size;
        font-weight: $sub-heading-weight;
        @include korean-text;
      }
    }
  }
}

.material-icons {
  font-size: 1.75em;
}


.resultsCounter {
  display: none;
  font-weight: 600;
}


*/
