main {
  background: $grey;
  min-height: 100vh;
}

#content {
  margin-left: auto;
  margin-right: auto;
  padding-left: $content-padding;
  padding-right: $content-padding;
  padding-top: 5em;
  max-width: $content-width;
  &:last-child {
    padding-bottom: $content-padding*2;
  }
}

.content__header {
  display: flex;
  align-items: center;
}

.content__title {
  font-size: $heading-size*1.3;
  font-weight: $heading-weight;
  color: $dark;
  margin: 0.6em 0 0.6em 0;
}

.content__heading {
  font-size: $heading-size;
  font-weight: $heading-weight;
  color: $dark;
}

.content__subheading {
  font-size: $sub-heading-size;
  font-weight: $sub-heading-weight;
  color: $grey-darkest;
}

.content__text--important {
  font-size: $p-size;
  font-weight: $sub-heading-weight;
  color: $grey-darkest;
}

.inline *{
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: $content-padding;
  grid-column-gap: $content-padding*2;
  padding-bottom: $content-padding;
  .grid__item {
    background: $grey-dark;
    color: $dark;
    text-decoration: none;
    min-height: 13em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    color: $white;
    @include smooth-transition;
    &.tool {
      border-top: solid 0.5em $blue;
    }
    &.info {
      border-top: solid 0.5em $accent;
    }
    .item__bg {
      @include background-image;
    }
    .grid__info {
      padding: 1em;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      padding: 1em;
      height: 100%;
      width: 100%;
      text-align: center;
      z-index: 2;
      .full__name {
        font-size: $sub-heading-size;
        font-weight: $sub-heading-weight;
      }
      .korean__name {
        font-size: $sub-heading-size;
        font-weight: $sub-heading-weight;
      }
    }
  }
}

.material-icons {
  font-size: 1.75em;
}

.input__search {
  font-family: 'Nunito Sans', sans-serif;
  font-size: $input-size;
  font-weight: $input-weight;
  height: 2em;
  color: $white;
  background: $accent-dark;
  border: none;
  padding: 0.2em 0.5em;
  max-width: 25em;
}

.resultsCounter {
  display: none;
  font-weight: 600;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 4em;
  .list__row {
    @include rows_2;
    font-size: $p-size;
    font-weight: $p-weight;
    p {
      font-size: 1.05em;
    }
    &:nth-child(n+2) {
      border-bottom: 2px $grey-dark solid;
    }
  }
  .column__title {
    @include rows_2;
    font-size: $p-size;
    font-weight: $sub-heading-weight;
    background: $accent;
    color: $white;
    padding: 0.5em 1em 0.5em 1em;
    p {
      margin: 0.75em 0.25em;
    }
  }
  .row__search {
    background: $accent;
    padding: 0.5em 1em 0.5em 1em;
    display: flex;
    flex-wrap: wrap;
    .resultsCounter {
      color: $white;
      margin: 0.5em;
      margin-left: 2em;
    }
  }
}

.link--text {
  @include text-link;
  @include link-underline;
  font-size: 1em;
  &.accent {
    color: $accent;
    &:before {
      background: $accent;
    }
    &:visited {
      color: $accent;
    }
  }
  &.white {
    color: $white;
    &:before {
      background: $white;
    }
    &:visited {
      color: $white;
    }
  }
}

.rounded {
  border-radius: 0.2em;
}

