.profile__header {
    grid-column: span 2;
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
    .profile__image {
        height: 100%;
        width: 50%;
    }
    .info__header {
        background: $accent;
        color: $white;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        box-sizing: border-box;
        align-items: left;
        text-align: left;
        .row__info {
        margin: 0.5em 0 0.5em 0;
        text-align: left;
        font-size: $p-size;
        font-weight: $p-weight;
        }
    }
    .info__content {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        box-sizing: border-box;
        align-items: left;
        text-align: left;
        .row__info {
        font-size: 1.05em;
        margin: 0.6em 0 0.6em 0;
        }
    }
    .content__row {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-row-gap: 1em;
        grid-column-gap: 1em;
        padding: 0 0.5em 0 0.5em;
    }
    .grid__info {
        padding: 0 !important;
        justify-content: flex-start !important;
    }
    .grid__info {
        flex: 1;
    }
}

.grid {
    &.profile {
        grid-template-columns: repeat(2, 1fr);
      }
      &.kpop {
        .grid__item {
            justify-content: flex-start;
            .grid__info {
                padding: 0 0 1em 0;
            }
            img {
                width: 100%;
            }
        }
    }
    .grid__item {
        &.kpop {
            border-top: solid 0.5em $kpop-accent;
        }
        &.profile {
            justify-content: flex-start;
        img {
            width: 100%;
        }
        .info__header {
            background: $accent;
            color: $white;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            box-sizing: border-box;
            align-items: left;
            text-align: left;
            .row__info {
            margin: 0.5em 0 0.5em 0;
            text-align: left;
            font-size: $p-size;
            font-weight: $p-weight;
            }
        }
        .info__content {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            box-sizing: border-box;
            align-items: left;
            text-align: left;
            .row__info {
            font-size: 1.05em;
            margin: 0.6em 0 0.6em 0;
            }
        }
        .content__row {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-row-gap: 1em;
            grid-column-gap: 1em;
            padding: 0 0.5em 0 0.5em;
        }
        .grid__info {
            padding: 0;
            justify-content: flex-start;
        }
        }
    }  
}