@mixin smooth-transition {
  transition: all 0.2s ease-in-out;
}

@mixin button {
  @include reset-button-style;
  @include smooth-transition;
  display: flex;
  font-size: $p-size;
  font-family: 'Nunito', sans-serif;
  border: none;
  font-weight: 600;
  -webkit-appearance: none;
  .material-icons {
    font-size: 1.5em;
  }
  &:hover {
    cursor: pointer;
  }
}

@mixin reset-button-style {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
     -moz-user-select: none;
      -ms-user-select: none;
}

@mixin link-underline {
  @include thick-underline;
  font-size: $sub-heading-size;
  font-weight: $sub-heading-weight;
  &:before {
    transform: scaleX(0);
  }
  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

@mixin bottom-shadow {
  -webkit-box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.07);
  -moz-box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.07);
  box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.07);
}

@mixin random-text {
  font-size: 1.5em;
  font-weight: $heading-weight;
  color: $accent;
  text-align: center;
  display: none;
}

@mixin text-link {
  text-decoration: none;
}

@mixin rows_2 {
  display: grid;
  grid-gap: 5vw;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  padding: 0 1em 0 1em;
}

@mixin thick-underline {
  text-decoration: none;
  position: relative;
  display: inline-block;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -0px;
    height: 2px;
    left: 0;
    background: $white;
    transition: transform 0.18s;
  }
}

@mixin background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position-x: center !important;
  filter: brightness(50%);
}