.button--logo {
  height: 3em;
  width: 3em;
  z-index: 5;
  .logo {
    height: 100%;
    width: 100%;
    .shape {
      fill: $white !important;
    }
  }
}

.nav {
  @include bottom-shadow;
  background: $accent;
  color: $white;
  position: fixed;
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: $content-padding/2;
  flex: 1;
  z-index: 5;
  box-sizing: border-box;
  .nav__content{
    display: flex;
    flex-direction: row;
    .nav__list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      top: 2em;
      .content__list {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding-left: 0;
        margin: 0;
        li {
          padding: 0 $content-padding/2;
          letter-spacing: 1px; 
          display: flex;
          justify-content: center;
          align-items: center;
          .content__link {
            color: $white;
          }
        }
      }
    }
  }
}

/*
.nav--white {
  background: $white;
  .nav__link {
      color: $accent;
    &:visited {
      color: $accent;
    }
    &:before {
      background: $accent;
    }
  }
  .nav__link--focused {
    background: $accent;
    &:visited {
      color: $white;
    }
  }
  .button--overlay {
    span, span:before, span:after {
      background: $accent;
    }
  }
  .button--logo .shape {
    fill: $accent !important;
  }
}

.nav--purple {
  background: $accent;
  .nav__link {
      color: $white;
    &:visited {
      color: $white;
    }
    &:before {
      background: $white;
    }
  }
  .nav__link--focused {
    background: $white;
    color: $accent;
    &:visited {
      color: $accent;
    }
  }
  .button--overlay {
    span, span:before, span:after {
      background: $white;
      &.active {
        background: transparent;
      }
    }
  }
  .active.button--overlay {
    span:before, span:after {
      background: $white;
    }
  }
  .button--logo .shape {
    fill: $white !important;
  }
}
*/