.button--logo {
  height: 4em;
  width: 6em;
  z-index: 5;
  .logo {
    height: 100%;
    width: 100%;
    .shape {
      fill: $white !important;
    }
  }
}


.nav {
  background: $dark;
  color: $white;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: $content-padding;
  flex: 1;
  z-index: 2;
  box-sizing: border-box;
  .nav__content{
    display: flex;
    flex-direction: column;
    .nav__list {
      position: sticky;
      display: flex;
      flex-direction: column;
      top: 2em;
      .content__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-left: 0;
        li {
          padding: $content-padding/2 0;
          letter-spacing: 1px; 
          a {
            text-transform: uppercase;
            @include link-underline;
          }
        }
      }
    }
  }
}

.nav__content--mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include smooth-transition;
}

/*
.nav--white {
  background: $white;
  .nav__link {
      color: $accent;
    &:visited {
      color: $accent;
    }
    &:before {
      background: $accent;
    }
  }
  .nav__link--focused {
    background: $accent;
    &:visited {
      color: $white;
    }
  }
  .button--overlay {
    span, span:before, span:after {
      background: $accent;
    }
  }
  .button--logo .shape {
    fill: $accent !important;
  }
}

.nav--purple {
  background: $accent;
  .nav__link {
      color: $white;
    &:visited {
      color: $white;
    }
    &:before {
      background: $white;
    }
  }
  .nav__link--focused {
    background: $white;
    color: $accent;
    &:visited {
      color: $accent;
    }
  }
  .button--overlay {
    span, span:before, span:after {
      background: $white;
      &.active {
        background: transparent;
      }
    }
  }
  .active.button--overlay {
    span:before, span:after {
      background: $white;
    }
  }
  .button--logo .shape {
    fill: $white !important;
  }
}
*/