$accent: #6E73F2;
$accent-dark: #6367e0;
$white: #fefefe;
$off-white: #ececec;
$grey: #999;
$grey-dark: #4a4a4a;
$blue-dark: #323d4a;
$blue-darker: #262d35;
$dark: #333;
$darker: #222;
$colour-selection: #c8c5cc;

$heading-size: 1.75em;
$heading-weight: 700;
$sub-heading-size: 1.2em;
$sub-heading-weight: 700;
$p-size: 1.05em;
$p-weight: 400;
$input-size: 1em;
$input-weight: 500;

$content-padding: 2em;
$content-width: 65em;

@import 'partials/mixin';
@import 'partials/nav';
@import 'partials/overlay';
@import 'partials/content';
@import 'partials/korean-clock';
@import 'partials/quiz';
@import 'partials/checkbox';
@import 'partials/ad';
@import 'partials/slider';
@import 'partials/footer';
@import 'partials/button';
@import 'partials/random';
@import 'partials/media-queries';

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;  
}

::-moz-selection { background: $colour-selection; }
::selection { background: $colour-selection; }
::-webkit-input-placeholder { color: $grey; }
::-moz-placeholder { color: $grey; }
:-ms-input-placeholder { color: $grey; }
:-moz-placeholder { color: $grey; }
