$accent: #595EE6;
$accent-dark: #4e53d0;
$white: #fefefe;
$grey: #f7f7f7;
$grey-dark: #ececec;
$grey-darker: #dcdcdc;
$grey-darkest: #555;
$dark: #333;
$colour-selection: #c8c5cc;
$blue: #3a5684;
$blue-dark: #2e476f;
$kpop-accent: #d15bb4;
$kpop-dark: #c54ba7;

$heading-size: 1.75em;
$heading-weight: 800;
$sub-heading-size: 1.25em;
$sub-heading-weight: 700;
$p-size: 1.1em;
$p-weight: 400;
$input-size: 1em;
$input-weight: 700;

$content-padding: 2em;
$content-width: 65em;

@import 'partials/mixin';
@import 'partials/nav';
@import 'partials/overlay';
@import 'partials/content';
@import 'partials/kpop';
@import 'partials/checkbox';
@import 'partials/ad';
@import 'partials/slider';
@import 'partials/footer';
@import 'partials/button';
@import 'partials/random';
@import 'partials/media-queries';

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  height: 100%;
}

::-moz-selection { background: $colour-selection; }
::selection { background: $colour-selection; }
::-webkit-input-placeholder { color: $white; }
::-moz-placeholder { color: $white; }
:-ms-input-placeholder { color: $white; }
:-moz-placeholder { color: $white; }
