@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
.button--logo {
  height: 2.5em;
  width: 4em;
  z-index: 5; }
  .button--logo .logo {
    height: 100%;
    width: 100%; }
    .button--logo .logo .shape {
      fill: #fefefe !important; }

.nav {
  background: #595EE6;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  -webkit-box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.07); }
  .nav .nav__content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    max-width: 65em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease-in-out; }
    .nav .nav__content .input__search {
      width: 100%;
      transition: all 0.2s ease-in-out; }
    .nav .nav__content .form--search {
      display: flex; }

.nav--white {
  background: #fefefe; }
  .nav--white .nav__link {
    color: #595EE6; }
    .nav--white .nav__link:visited {
      color: #595EE6; }
    .nav--white .nav__link:before {
      background: #595EE6; }
  .nav--white .nav__link--focused {
    background: #595EE6; }
    .nav--white .nav__link--focused:visited {
      color: #fefefe; }
  .nav--white .button--overlay span, .nav--white .button--overlay span:before, .nav--white .button--overlay span:after {
    background: #595EE6; }
  .nav--white .button--logo .shape {
    fill: #595EE6 !important; }

.nav--purple {
  background: #595EE6; }
  .nav--purple .nav__link {
    color: #fefefe; }
    .nav--purple .nav__link:visited {
      color: #fefefe; }
    .nav--purple .nav__link:before {
      background: #fefefe; }
  .nav--purple .nav__link--focused {
    background: #fefefe;
    color: #595EE6; }
    .nav--purple .nav__link--focused:visited {
      color: #595EE6; }
  .nav--purple .button--overlay span, .nav--purple .button--overlay span:before, .nav--purple .button--overlay span:after {
    background: #fefefe; }
    .nav--purple .button--overlay span.active, .nav--purple .button--overlay span:before.active, .nav--purple .button--overlay span:after.active {
      background: transparent; }
  .nav--purple .active.button--overlay span:before, .nav--purple .active.button--overlay span:after {
    background: #fefefe; }
  .nav--purple .button--logo .shape {
    fill: #fefefe !important; }

.noscroll {
  overflow: hidden; }

.button--overlay {
  padding: 1.25em 0.5em;
  z-index: 5;
  cursor: pointer; }
  .button--overlay span {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: #fefefe;
    position: relative;
    display: block;
    transition: all .2s ease-in-out; }
    .button--overlay span:before {
      top: -10px;
      visibility: visible; }
    .button--overlay span:after {
      top: 10px; }
    .button--overlay span:before, .button--overlay span:after {
      height: 4px;
      width: 35px;
      border-radius: 2px;
      background-color: #fefefe;
      position: absolute;
      content: "";
      transition: all .2s ease-in-out; }

.button--overlay.active:hover span, .button--overlay.active span {
  background: transparent; }
.button--overlay.active span:before {
  transform: rotate(45deg) translate(7px, 7px);
  opacity: 1; }
.button--overlay.active span:after {
  transform: rotate(-45deg) translate(7px, -7px); }

.overlay {
  height: 100vh;
  width: 100vw;
  background: #595EE6;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  transition: opacity 0.2s ease-in-out; }
  .overlay.active {
    visibility: visible;
    opacity: 1; }
  .overlay ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none; }
    .overlay ul li {
      padding: 1em; }
      .overlay ul li a {
        color: white;
        text-decoration: none;
        position: relative;
        display: inline-block;
        font-size: 1.25em;
        font-weight: 700; }
        .overlay ul li a:before {
          content: "";
          position: absolute;
          width: 100%;
          bottom: -0px;
          height: 2px;
          left: 0;
          background: #fefefe;
          transition: transform 0.18s; }
        .overlay ul li a:before {
          transform: scaleX(0); }
        .overlay ul li a:hover:before {
          visibility: visible;
          transform: scaleX(1); }

.link--underline {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-size: 1.25em;
  font-weight: 700; }
  .link--underline:before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -0px;
    height: 2px;
    left: 0;
    background: #fefefe;
    transition: transform 0.18s; }
  .link--underline:before {
    transform: scaleX(0); }
  .link--underline:hover:before {
    visibility: visible;
    transform: scaleX(1); }

main {
  background: #f7f7f7;
  min-height: 100vh; }

#content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 5em;
  max-width: 65em; }
  #content:last-child {
    padding-bottom: 4em; }

.content__header {
  display: flex;
  align-items: center; }

.content__title {
  font-size: 2.275em;
  font-weight: 800;
  color: #333;
  margin: 0.6em 0 0.6em 0; }

.content__heading {
  font-size: 1.75em;
  font-weight: 800;
  color: #333; }

.content__subheading {
  font-size: 1.25em;
  font-weight: 700;
  color: #555; }

.content__text--important {
  font-size: 1.1em;
  font-weight: 700;
  color: #555; }

.inline * {
  display: inline-block; }

.flex {
  display: flex; }

.profile__image {
  height: 15em;
  padding: 1em 0 1em 0; }

.focusProfile {
  background-size: cover; }

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2em;
  grid-column-gap: 4em;
  padding-bottom: 2em; }
  .grid.profile {
    grid-template-columns: repeat(2, 1fr); }
  .grid.kpop .grid__item {
    justify-content: flex-start; }
    .grid.kpop .grid__item .grid__info {
      padding: 0 0 1em 0; }
    .grid.kpop .grid__item img {
      width: 100%; }
  .grid .grid__item {
    display: block;
    background: #ececec;
    color: #333;
    text-decoration: none;
    min-height: 13em;
    transition: all 0.2s ease-in-out; }
    .grid .grid__item:hover {
      background: #dcdcdc; }
    .grid .grid__item.tool {
      border-top: solid 0.5em #3a5684; }
    .grid .grid__item.info {
      border-top: solid 0.5em #595EE6; }
    .grid .grid__item.kpop {
      border-top: solid 0.5em #d15bb4; }
    .grid .grid__item.profile {
      justify-content: flex-start; }
      .grid .grid__item.profile img {
        width: 100%; }
      .grid .grid__item.profile .info__header {
        background: #595EE6;
        color: #fefefe;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        box-sizing: border-box;
        align-items: left;
        text-align: left; }
        .grid .grid__item.profile .info__header .row__info {
          margin: 0.5em 0 0.5em 0;
          text-align: left;
          font-size: 1.25em;
          font-weight: 600; }
      .grid .grid__item.profile .info__content {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        box-sizing: border-box;
        align-items: left;
        text-align: left; }
        .grid .grid__item.profile .info__content .row__info {
          font-size: 1.05em; }
      .grid .grid__item.profile .content__row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 1em;
        grid-column-gap: 1em;
        padding: 0 0.5em 0 0.5em; }
      .grid .grid__item.profile .grid__info {
        padding: 0;
        justify-content: flex-start; }
    .grid .grid__item .grid__info {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      box-sizing: border-box;
      align-items: center;
      justify-content: space-between;
      padding: 1em;
      height: 100%;
      width: 100%;
      text-align: center; }
      .grid .grid__item .grid__info .full__name {
        font-size: 1.25em;
        font-weight: 700; }
      .grid .grid__item .grid__info .korean__name {
        font-size: 1.25em;
        font-weight: 700; }

.material-icons {
  font-size: 1.75em; }

.input__search {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1em;
  font-weight: 700;
  height: 2em;
  color: #fefefe;
  background: #4e53d0;
  border: none;
  padding: 0.2em 0.5em;
  max-width: 25em; }

.resultsCounter {
  font-weight: 600; }

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 4em; }
  .list .list__row {
    display: grid;
    grid-gap: 5vw;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    padding: 0 1em 0 1em;
    font-size: 1.1em;
    font-weight: 400; }
    .list .list__row p {
      font-size: 1.05em; }
    .list .list__row:nth-child(n+2) {
      border-bottom: 2px #ececec solid; }
  .list .column__title {
    display: grid;
    grid-gap: 5vw;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    padding: 0 1em 0 1em;
    font-size: 1.1em;
    font-weight: 700;
    background: #595EE6;
    color: #fefefe;
    padding: 0.5em 1em 0.5em 1em; }
    .list .column__title p {
      margin: 0.75em 0.25em; }
  .list .row__search {
    background: #595EE6;
    padding: 0.5em 1em 0.5em 1em;
    display: flex;
    flex-wrap: wrap; }
    .list .row__search .resultsCounter {
      color: #fefefe;
      margin: 0.5em;
      margin-left: 2em; }

.link--text {
  text-decoration: none;
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-size: 1.25em;
  font-weight: 700;
  font-size: 1em; }
  .link--text:before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -0px;
    height: 2px;
    left: 0;
    background: #fefefe;
    transition: transform 0.18s; }
  .link--text:before {
    transform: scaleX(0); }
  .link--text:hover:before {
    visibility: visible;
    transform: scaleX(1); }
  .link--text.accent {
    color: #595EE6; }
    .link--text.accent:before {
      background: #595EE6; }
    .link--text.accent:visited {
      color: #595EE6; }
  .link--text.white {
    color: #fefefe; }
    .link--text.white:before {
      background: #fefefe; }
    .link--text.white:visited {
      color: #fefefe; }

.rounded {
  border-radius: 0.2em; }

.ad {
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .ad .ad__message {
    display: none; }
    .ad .ad__message h2 {
      padding: 1em; }
  .ad ins {
    width: 100%; }
  .ad.loaded {
    background: #f7f7f7 !important; }

.slider__container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 17em;
  justify-content: center; }
  .slider__container .slider__content {
    height: 15em;
    margin: 1em 0;
    overflow: hidden; }
    .slider__container .slider__content div:nth-child(odd) > .slider__item {
      background: #3a5684; }
    .slider__container .slider__content .slider__item {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #2e476f;
      color: #fefefe;
      text-decoration: none;
      height: 15em;
      cursor: pointer;
      transition: all 0.2s ease-in-out; }
      .slider__container .slider__content .slider__item .item__info {
        padding: 1em;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        padding: 1em;
        height: 100%;
        width: 100%;
        text-align: center; }
        .slider__container .slider__content .slider__item .item__info .full__name {
          font-size: 1.25em;
          font-weight: 700; }
        .slider__container .slider__content .slider__item .item__info .korean__name {
          font-size: 1.25em;
          font-weight: 700; }
  .slider__container .slider__prev, .slider__container .slider__next {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    /* for input */
    -webkit-user-select: none;
    /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
    transition: all 0.2s ease-in-out;
    display: flex;
    font-size: 1.1em;
    font-family: 'Nunito', sans-serif;
    border: none;
    font-weight: 600;
    -webkit-appearance: none;
    position: absolute;
    color: #333;
    background: #fefefe;
    border-radius: 50%;
    padding: 0.75em;
    max-height: 52px;
    max-width: 52px; }
    .slider__container .slider__prev .material-icons, .slider__container .slider__next .material-icons {
      font-size: 1.5em; }
    .slider__container .slider__prev:hover, .slider__container .slider__next:hover {
      cursor: pointer; }
    .slider__container .slider__prev:hover, .slider__container .slider__next:hover {
      background: #f7f7f7; }
  .slider__container .slider__prev {
    align-self: flex-start;
    margin-left: 1em; }
    .slider__container .slider__prev .material-icons {
      transform: rotate(180deg); }
  .slider__container .slider__next {
    margin-left: -1em;
    align-self: flex-end; }

footer {
  background: #595EE6;
  color: #fefefe;
  text-align: center;
  padding: 1em;
  font-size: 1.1em; }
  footer p {
    font-weight: 600; }

.button--purple {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  font-size: 1.1em;
  font-family: 'Nunito', sans-serif;
  border: none;
  font-weight: 600;
  -webkit-appearance: none;
  background: #595EE6;
  color: #fefefe;
  padding: 0.6em 1.3em; }
  .button--purple .material-icons {
    font-size: 1.5em; }
  .button--purple:hover {
    cursor: pointer; }
  .button--purple:hover {
    background: #4e53d0; }

.button--white {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  font-size: 1.1em;
  font-family: 'Nunito', sans-serif;
  border: none;
  font-weight: 600;
  -webkit-appearance: none;
  background: #fefefe;
  color: #595EE6;
  padding: 0.2em 0.5em; }
  .button--white .material-icons {
    font-size: 1.5em; }
  .button--white:hover {
    cursor: pointer; }
  .button--white:hover {
    background: #f7f7f7; }

.button--accent {
  text-decoration: none;
  background: #595EE6;
  padding: 0.5em 1.25em;
  border-radius: 0.5em;
  color: #fefefe;
  transition: all 0.2s ease-in-out; }
  .button--accent:hover {
    background: #4e53d0; }

.button--dark {
  text-decoration: none;
  background: #3a5684;
  padding: 0.5em 1.25em;
  border-radius: 0.5em;
  color: #fefefe;
  transition: all 0.2s ease-in-out; }
  .button--dark:hover {
    background: #2e476f; }

.button--kpop {
  text-decoration: none;
  background: #d15bb4;
  padding: 0.5em 1.25em;
  border-radius: 0.5em;
  color: #fefefe;
  transition: all 0.2s ease-in-out; }
  .button--kpop:hover {
    background: #b9489d; }

#genWord {
  padding: 0.25em 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

#genWord__korean {
  font-size: 1.5em;
  font-weight: 800;
  color: #595EE6;
  text-align: center;
  display: none; }

#genWord__english {
  font-size: 1.5em;
  font-weight: 800;
  color: #595EE6;
  text-align: center;
  display: none; }

.korean__container {
  text-align: center;
  margin: auto;
  max-width: 50em;
  padding-bottom: 3em; }
  .korean__container button {
    margin: auto; }

.visible {
  display: block !important; }

.pulseLoader.hideLoader {
  display: none; }

.pulseLoader {
  display: block;
  width: 4em;
  height: 4em;
  position: relative;
  top: 35%; }
  .pulseLoader .pulse {
    width: 4em;
    height: 4em;
    border-radius: 4em;
    position: absolute;
    background-color: #595EE6;
    animation: pulseanim 1.2s ease-in-out infinite;
    transform: scale(0);
    outline: 1px solid transparent; }
    .pulseLoader .pulse:nth-child(2) {
      animation-delay: 0.22s; }

@keyframes pulseanim {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1);
    opacity: 0; } }
@media screen and (max-height: 30em) {
  #generatedWord {
    padding: 0;
    flex-direction: row;
    justify-content: space-around; } }
@media screen and (min-width: 45.01em) and (max-width: 60em) {
  html body main .grid {
    grid-template-columns: repeat(2, 1fr); } }
@media screen and (max-width: 45em) {
  html body .nav .nav__content {
    padding-right: 1em;
    padding-left: 1em; }
    html body .nav .nav__content .input__search {
      width: 65%; }
  html body main #content {
    padding-left: 0.9em;
    padding-right: 0.9em; }
    html body main #content .slider__prev, html body main #content .slider__next {
      padding: 0.5em; }
    html body main #content .slider__prev {
      margin-left: 0.5em; }
    html body main #content .slider__next {
      margin-left: -0.5em; }
    html body main #content .grid {
      grid-template-columns: repeat(1, 1fr); }
    html body main #content .row__search .resultsCounter {
      margin-left: 0; }
    html body main #content .list .row__search {
      padding: 0.5em; }
    html body main #content .list .list__row, html body main #content .list .column__title {
      padding: 0 0.5em 0 0.5em; }
    html body main #content #genWord h2, html body main #content #genWord h3 {
      margin: 0.25em 0; } }
body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif; }

::-moz-selection {
  background: #c8c5cc; }

::selection {
  background: #c8c5cc; }

::-webkit-input-placeholder {
  color: #fefefe; }

::-moz-placeholder {
  color: #fefefe; }

:-ms-input-placeholder {
  color: #fefefe; }

:-moz-placeholder {
  color: #fefefe; }

/*# sourceMappingURL=main.css.map */
