@import './../../scss/variables.scss';

.TypingGame {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  text-align: center;

  &-label {
    display: block;
    color: $darker-grey;
    font-size: $s-size;
    font-weight: $medium-weight;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  &--closeToFinish {
    .TypingGame-timer {
      color: $red;
    }
  }
  &--completed {
    .TypingGame-input .text-input {
      opacity: 0.5;
      pointer-events: none;
      user-select: none;
    }
  }
  &-container {
    display: flex;
    flex-direction: column;
    gap: $spacing;
    border-radius: $border-radius;
  }
  &-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: $m-size;
    font-weight: bold;
    padding: $spacing * 1.25 $spacing * 1.5;
    margin-top: 1rem;
    border: 1px solid $off-whiter;
    border-radius: $border-radius;
    background: $white;
  }
  &-time {
    display: flex;
    align-items: baseline;
    gap: calc($spacing / 2);
    .TypingGame-label {
      display: inline;
    }
  }
  &-words {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: $l-size;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: $spacing * 1.5;
    background: $off-white;
    border: 1px solid $off-whiter;
    border-radius: $border-radius;
    gap: $spacing;
  }
  &-word {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: $white;
    border-radius: $border-radius;
    position: relative;
    align-items: center;
    &--prevWord {
      opacity: 0.55;
      background: rgba(121, 182, 68, 0.16);
    }
    &--nextWord {
      opacity: 0.55;
    }
    &--hidden {
      visibility: hidden;
    }
    &:not(:last-child) {
      margin-bottom: $spacing;
    }
  }
  &-letter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 1rem;
    padding: calc($spacing * 0.5) calc($spacing * 0.35);
    border-radius: 0.2rem;
    &--valid {
      background: $green;
    }
    &--invalid {
      background: $red;
    }
  }
  &-arrow {
    display: flex;
    position: absolute;
    left: -48px;
  }
  &-input {
    display: flex;
    flex-direction: column;
    justify-self: center;
    alig\n-items: center;
    padding: $spacing * 1.25 $spacing * 1.5;
    background: $dark;
    border-radius: $border-radius;
    min-height: 4rem;
    gap: calc($spacing / 2);
    .TypingGame-label {
      color: $white;
      opacity: 0.8;
    }
    .text-input {
      width: 100%;
    }
  }
  &-completionText {
    font-size: $m-size;
    margin-bottom: 3rem;
  }
}
