@import './../../scss/variables.scss';

.TypingGame {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  text-align: center;
  &--closeToFinish {
    .TypingGame-timer {
      color: $red;
    }
  }
  &--completed {
    .TypingGame-input .text-input {
      opacity: 0.5;
      pointer-events: none;
      user-select: none;
    }
  }
  &-container {
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;
  }
  &-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: $m-size;
    font-weight: bold;
    padding: $spacing;
  }
  &-words {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: $l-size;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: $spacing;
    background: $off-white;
    border-radius: $border-radius $border-radius 0 0;
  }
  &-word {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: $white;
    border-radius: $border-radius;
    position: relative;
    align-items: center;
    &--prevWord {
      opacity: 0.5;
      background: $green;
    }
    &--nextWord {
      opacity: 0.5;
    }
    &--hidden {
      visibility: hidden;
    }
    &:not(:last-child) {
      margin-bottom: $spacing;
    }
  }
  &-letter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 1rem;
    padding: calc($spacing * 0.5) calc($spacing * 0.25);
    &--valid {
      background: $green;
    }
    &--invalid {
      background: $red;
    }
  }
  &-arrow {
    display: flex;
    position: absolute;
    left: -48px;
  }
  &-input {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: $spacing;
    background: $dark;
    border-radius: 0 0 $border-radius $border-radius;
    min-height: 4rem;
    .text-input {
      width: 100%;
    }
  }
  &-completionText {
    font-size: $m-size;
    margin-bottom: 3rem;
  }
}
