{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
      <section id="content">
        <h2 class="content__heading">About</h2>
        <p>The Korean Handbook is developed and maintained by <a class="link--text accent" href="http://danielhearn.co.uk">Daniel Hearn</a>. The Korean Handbook provides various tools and information pages to help teach the Korean Language, to suggest new content or to report an issue with existing content or a problem with the website <a class="link--text accent" href="mailto:@daniel_hearn@outlook.com">email me</a>.</p>
      </section>
    </main>
    <script src="{% static 'js/koreanHandbook_home.js' %}"></script>
{% endblock %}
