<div class="ad grid__item">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-format="fluid"
         data-ad-layout-key="-6s+eg+1z-2f-1e"
         data-ad-client="ca-pub-6075240542580801"
         data-ad-slot="3992222690"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <div class="ad__message">
        <h2>Turn off adblock to support us</h2>
    </div>
</div>
