{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="grid">
      {% for infoPage in info %}
        <div class="grid__item">
          <a class="grid__link" href="/info/{{ infoPage.short_name }}/">
            <div class="grid__info">
                <h2 class="info__full-name" >{{ infoPage.full_name }}</h2>
                <h2 class="info__korean-name" >{{ infoPage.korean_name }}</h2>
            </div>
            <div class="item__bg" style="background: url({{ infoPage.picture.url }});"></div>
          </a>
        </div>
        {% if infoPage.ad %}
          {% include "ad_incontent.html" %}
        {% endif %}
      {% endfor %}
    </section>
    <script src="{% static 'js/koreanHandbook.js' %}"></script>
{% endblock %}
