{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
    <title>{% block title %}Korean Handbook - Home{% endblock %}</title>
      <section id="content">
        <h2 class="content__title">The Korean Handbook</h2>
        {% if sliderVisible %}
        <div class="slider__container">
          <div class="slider__content jsSeimaSlider">
            {% for focusTool in focusTools %}
              <div class="slider__item">
                <div class="item__info">
                  <h2 class="full__name">{{ focusTool.full_name }}</h2>
                  <h2 class="korean__name" >{{ focusTool.korean_name }}</h2>
                  <a class="button--accent" href="/tool/{{ focusTool.short_name }}">View</a>
                </div>
              </div>
            {% endfor %}
            <div class="slider__item">
                <div class="item__info">
                  <h2 class="full__name">KPOP Profiles</h2>  
                  <h2 class="korean__name">케이팝 프로필</h2>
                  <a class="button--accent" href="/kpopprofiles/">View</a>
                </div>
              </div>
            {% for focusInfo in focusInfo %}
              <div class="slider__item" href="/info/{{ focusInfo.short_name }}">
                <div class="item__info">
                  <h2 class="full__name">{{ focusInfo.full_name }}</h2>   
                  <h2 class="korean__name" >{{ focusInfo.korean_name }}</h2>
                  <a class="button--accent" href="/info/{{ focusInfo.short_name }}">View</a>
                </div>
              </div>
            {% endfor %}
          </div>
          <button class="slider__prev"><i class="material-icons">arrow_forward_ios</i></button>
          <button class="slider__next"><i class="material-icons">arrow_forward_ios</i></button>
        </div>
        {% endif %}
        <p class="content__text--important">The Korean Handbook is home to an evergrowing collection of Korean Language learning tools and information that is updated daily.</p>
        <h2 class="content__heading">Available Information</h2>
        <p>{{ status }}</p>
        <section class="grid">
          <div class="grid__item kpop">
              <div class="grid__info">
                <h2 class="full__name">KPOP Profiles</h2>
                <h2 class="korean__name" >케이팝 프로필 </h2>
                <a class="button--kpop" href="/kpopprofiles">View</a>
              </div>
          </div>
          {% for tool in tools %}
            <div class="grid__item tool">
              <div class="grid__info">
                <h2 class="full__name">{{ tool.full_name }}</h2>
                <h2 class="korean__name" >{{ tool.korean_name }}</h2>
                <a class="button--dark" href="/tool/{{ tool.short_name }}">View</a>
              </div>
            </div>
            {% if tool.ad %}
              {% include "ad_incontent.html" %}
            {% endif %}
          {% endfor %}
          {% for infoPage in info %}
            <div class="grid__item info">
              <div class="grid__info">
                <h2 class="full__name" >{{ infoPage.full_name }}</h2>
                <h2 class="korean__name" >{{ infoPage.korean_name }}</h2>
                <a class="button--accent" href="/info/{{ infoPage.short_name }}">View</a>
              </div>
            </div>
            {% if infoPage.ad %}
              {% include "ad_incontent.html" %}
            {% endif %}
          {% endfor %}
        </section>
      </section>
    </main>
    <script src="{% static 'js/siema.min.js' %}"></script>
    <script src="{% static 'js/koreanHandbook_home.js' %}"></script>
{% endblock %}
