{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="header">
    <div class="content__navigation">
      <a class="link-text white" href="/">Back to Info</a>
    </div>
    <h2 class="content__heading">{{ info.full_name }} - {{ info.korean_name }}</h2>
    <p>{{ info.description }}</p>
    <div class="flex"> 
      <div class="row__search">
        <span class="flex">
          <input id="page__search" class="input__search" type="text" name="" value="" placeholder="Search this page">
          <button class="button--dark" type="submit" name="sumbitSearch">  <i class="material-icons">search</i></button>
        </span>
        <p class="resultsCounter"></p>
      </div>
    </div>
    <ul class="list list--col_3">
      <li class="column__title inline">
        <p> {{ info.column_1_name }} </p>
        <p> {{ info.column_2_name }} </p>
        <p> {{ info.column_3_name }} </p>
      </li>
    </ul> 
  </section>
  <section class="info__content">
    <ul id="list--info" class="list list--col_3">
      {% for row in rows %}
        <li data-key1="{{ row.col_1 }}" data-key2="{{ row.col_2 }}" data-key3="{{ row.col_3 }}" class="list__row inline">
          <p> {{ row.col_1 }} </p>
          <p> {{ row.col_2 }} </p>
          <p> {{ row.col_3 }} </p>
        </li>
      {% endfor %}
    </ul>
  </section>
  {% include "related_content.html" %}
  <script src="{% static 'js/koreanHandbook.js' %}"></script>
{% endblock %}
