{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
    <title>{% block title %}Korean Handbook - {{ profile.full_name }} Profile{% endblock %}</title>
      <section id="content">
        <a class="link--text accent" href="/kpopprofiles/">Back to KPOP Profiles</a>
        <h2 class="content__title">KPOP Profile</h2>
        <h2 class="content__heading">{{ profile.full_name }}</h2>
        <section class="grid profile">
            <div class="grid__item profile__header">
              <img class="profile__image" src="{{ profile.picture.url }}" alt="">
              <div class="grid__info">
                <div class="info__header">
                  <div class="content__row">
                    <h2 class="row__info" >Name: </h2>
                    <h2 class="row__info">{{ profile.full_name}}</h2>
                  </div>
                </div>
                <div class="info__content"> 
                  <div class="content__row">
                    <p class="row__info" >Debut Date:</p>
                    <p class="row__info" >{{ profile.debut_date|date:"M d, Y" }}</p>
                  </div>
                  <div class="content__row">
                      <p class="row__info" >Debut:</p>
                      <p class="row__info" >{{ profile.debut}}</p>
                    </div>
                  <div class="content__row">
                      <p class="row__info" >Agency:</p>
                      <p class="row__info" >{{ profile.agency}}</p>
                  </div>
                  <div class="content__row">
                    <p class="row__info" >Fandom:</p>
                    <p class="row__info" >{{ profile.fandom}}</p>
                  </div>
                  <div class="content__row">
                      <p class="row__info" >                  <a class="link--text accent" href="https://docs.google.com/forms/d/1Qh9351_dNYD_Yy2z81zTWa5gckMZFLp11StxyJXeqIQ/">Send page feedback</a></p>
                    </div>
                </div> 
              </div>
            </div>
          <div class="content__row">
            {% include "ad_incontent.html" %}
          </div>
          <div class="content__row">
            {% include "ad_incontent.html" %}
          </div>
          {% for member in members %}
            <div class="grid__item profile">
              <div class="grid__info">
                <img class="info__image" src="{{ member.picture.url }}" alt="">
                <div class="info__header">
                  <div class="content__row">
                    <h2 class="row__info" >Stage Name:</h2>
                    <h2 class="row__info">{{ member.stage_name }}</h2>
                  </div>
                  <div class="content__row">
                    <h2 class="row__info" >Birth Name:</h2>
                    <h2 class="row__info">{{ member.birth_name }}</h2>
                  </div>
                </div>
                <div class="info__content"> 
                  <div class="content__row">
                    <p class="row__info" >Birthday:</p>
                    <p class="row__info" >{{ member.birth_date|date:"M d, Y" }}</p>
                  </div>
                  <div class="content__row">
                    <p class="row__info" >Birth Place:</p>
                    <p class="row__info" >{{ member.birth_place }}</p>
                  </div>
                  <div class="content__row">
                      <p class="row__info" >Position:</p>
                      <p class="row__info" >{{ member.position }}</p>
                  </div>
                </div>
              </div>
            </div>
            {% if member.ad %}
              {% include "ad_incontent.html" %}
              {% include "ad_incontent.html" %}
            {% endif %}
          {% endfor %}
          <div class="grid__item related-title">
            <p>Related Content</p>
          </div>
          {% for content in relatedContent %}
            <div class="grid__item">
              <div class="grid__info">
                <h2 class="full__name">{{ content.full_name }}</h2>
                <h2 class="korean__name" >{{ content.korean_name }}</h2>
                <a class="button--dark" href="/kpopprofiles/{{ content.short_name }}/">View</a>
              </div>
              <div class="item__bg" style="background: url({{ content.thumbnail.url }});"></div>
            </div>
          {% endfor %}
        </section>
      </section>
    </main>
    <script src="{% static 'js/koreanHandbook.js' %}"></script>
{% endblock %}
