{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
    <title>{% block title %}Korean Handbook - KPOP Profiles{% endblock %}</title>
      <section id="content">
        <a class="link--text accent" href="/">Back to Home</a>
        <h2 class="content__title">KPOP Profiles</h2>
        {% if sliderVisible %}
        <div class="slider__container">
          <div class="slider__content jsSeimaSlider">
            {% for focusProfile in focusProfiles %}
              <div class="slider__item focusProfile">
                <div class="item__info">
                  <h2 class="full__name">{{ focusProfile.full_name }}</h2>
                  <h2 class="korean__name" >{{ focusProfile.korean_name }}</h2>
                  <a class="button--accent" href="/kpopprofiles/{{ focusProfile.short_name }}/">View</a>
                </div>
                <div class="item__bg" style="background: url({{ focusProfile.picture.url }});"></div>
              </div>
            {% endfor %}
          </div>
          <button class="slider__prev"><i class="material-icons">arrow_forward_ios</i></button>
          <button class="slider__next"><i class="material-icons">arrow_forward_ios</i></button>
        </div>
        {% endif %}
        <h2 class="content__heading">Available Profiles</h2>
        <div class="content__filter"> 
          <label class="filter__container">Girl Groups
            <input type="checkbox" data-type="filter-girl" checked="checked">
            <span class="checkmark"></span>
          </label>
          <label class="filter__container">Boy Groups
            <input type="checkbox" data-type="filter-boy" checked="checked">
            <span class="checkmark"></span>
          </label>
          <label class="filter__container">Co-ed Groups
            <input type="checkbox" data-type="filter-coed" checked="checked">
            <span class="checkmark"></span>
          </label>
          <label class="filter__container">Soloists
            <input type="checkbox" data-type="filter-soloist" checked="checked">
            <span class="checkmark"></span>
          </label>
        </div>
        <p class="resultsCounter">{{ status }}</p>
        <section class="grid kpop">
          {% for profile in profiles %}
            <div class="grid__item" data-type="{{ profile.group_type }}">
              <div class="grid__info">
                <img class="info__image" src="{{ profile.thumbnail.url }}" alt="">
                <h2 class="full__name">{{ profile.full_name }}</h2>
                <h2 class="korean__name" >{{ profile.korean_name }}</h2>
                <a class="button--accent" href="/kpopprofiles/{{ profile.short_name }}/">View</a>
              </div>
            </div>
            {% if profile.ad %}
              {% include "ad_incontent.html" %}
            {% endif %}
          {% endfor %}
        </section>
      </section>
    </main>
    <script src="{% static 'js/koreanHandbook.js' %}"></script>
{% endblock %}
