{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="header">
    <div class="content__navigation">
      <a class="link-text white" href="/">Back to Info</a>
    </div>
    <h2 class="content__heading">{{ tool.full_name }} - {{ tool.korean_name }}</h2>
    <p>{{ tool.description }}</p>
  </section>
  <section class="info__content">
    <section id="app">
      <section class="korean__container">
        <div class="word__container">
          <div id="genWord">
            <pulse-loader v-bind:class="{ hideLoader: dbLoaded }"></pulse-loader>
            <word-definition v-bind:word="word" v-bind:class="{ visible: wordVisible }"> </word-definition>
          </div>
          <button class="button--purple" v-bind:disabled="buttonDisabled" @click="retrieveWord()" v-if="language === 'English'">Generate Word</button>
          <button class="button--purple" v-bind:disabled="buttonDisabled" @click="retrieveWord()" v-if="language === 'Korean'">다음 워드</button>
        </div>
        <div class="option__container">
          <div class="option">
              <p>Word Category</p>
              <select v-model="content" v-on:change="retrieveWord">
                  <option>Random</option>
                  {% for info_page in info %}
                    <option>{{ info_page.short_name }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="option">
              <p v-if="language === 'English'">Language</p>
              <p v-if="language === 'Korean'">언어</p>
              <select v-model="language" id="language-select">
                  <option>English</option>
                  <option>Korean</option>
              </select>
          </div>
          <div class="option">
            <a v-bind:href="'/info/' + [[ categoryLink ]] + '/'"  v-bind:class="{ visible: linkVisible }" class="link-text accent">View full category page</a>
        </div>
        </div>
      </section>
    </section>
  </section>
  {% include "related_content.html" %}
	<script src="https://unpkg.com/vue"></script>
  <script defer src="{% static 'js/random-korean.js' %}"></script>
{% endblock %}
