<section>
    <p class="related-content" >Related Content</p>
    <div class="grid--related-content">
        {% for content in related_content %}
          <div class="grid__item">
            <a class="grid__link" href="/info/{{ content.short_name }}/">
              <div class="grid__info">
                <h2 class="info__full-name" >{{ content.full_name }}</h2>
                <h2 class="info__korean-name" >{{ content.korean_name }}</h2>
              </div>
              <div class="item__bg" style="background: url({{ content.picture.url }});"></div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
