{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
    <title>{% block title %}Korean Handbook - Home{% endblock %}</title>
      <section id="content">
        <a class="link--text accent" href="/">Back to Home</a>
        <h2 class="content__title">The Korean Handbook</h2>
        <h2 class="content__heading">Available Information</h2>
        <p>{{ status }}</p>
        <section class="grid">
          {% for result in searchResults %}
            <div class="grid__item {{ result.type }}">
              <div class="grid__info">
                <h2 class="full__name">{{ result.full_name }}</h2>
                {% if result.korean_name %}
                  <h2 class="korean__name" >{{ result.korean_name }}</h2>
                {% endif %}
                <a class="button--dark" href="/{{ result.type }}/{{ result.short_name }}/">View</a>
              </div>
              <div class="item__bg" style="background: url({{ result.thumbnail.url }});"></div>
            </div>
            {% if result.ad %}
              {% include "ad_incontent.html" %}
            {% endif %}
          {% endfor %}
        </section>
      </section>
    </main>
{% endblock %}
