{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="header">
    <div class="content__navigation">
      <a class="link-text white" href="/">Back to Info</a>
    </div>
    <h2 class="content__heading">{{ tool.full_name }} - {{ tool.korean_name }}</h2>
    <p>{{ tool.description }}</p>
  </section>
  <section class="info__content">
		<div id="clock">
			<div id="info">
				<p id="timeContainer">
				<span id="prefix"></span><span id="time"></span>
				</p>
        <p id="date"></p>
        <div id='explanation'>
            <p>년 = Year counter</p>
            <p>월 = Month counter</p>
            <p>일 = Month counter</p>
            <p>오전 = Morning, am</p>
            <p>오후 = Afternoon, pm</p>
            <a class="link-text accent" href="http://thekoreanhandbook.com/info/days-of-the-week/">Days of the Week</a>
          </div>
      </div>
		</div>
  </section>
  {% include "related_content.html" %}
{% endblock %}
