@import './../../scss/variables.scss';

body {
  margin: 0;
  overflow-x: hidden;
}

#app {
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: $darker;
  &.home {
    height: initial;
    #nav {
      top: 0;
      position: fixed;
    }
    .main {
      margin-top: 2em;
    }
  }
}

#nav {
  display: flex;
  flex-direction: row;
  height: $nav-height;
  width: 100%;
  z-index: 5;
  background: $accent;
  justify-content: center;
  align-items: center;
  .nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    flex-direction: row;
    height: 3em;
    padding: 0 0.5em;
    box-sizing: border-box;
    flex: 1 auto;
    justify-content: space-between;
    a {
      margin: 0 1em;
      color: $white;
      text-decoration: none;
      font-size: $s-size;
      &:visited {
        color: $white;
      }
      &:hover {
        color: $white;
        text-decoration: underline;
      }
      &.router-link-exact-active {
        text-decoration: underline;
      }
    }
  }
  .nav-logo {
    width: 3em;
    height: 2.5em;
    a {
      margin: 0;
    }
  }
}

.mobile-menu {
  width: 100vw;
  height: calc(100vh - #{$nav-height});
  position: fixed;
  display: block;
  background: $darker-grey;
  z-index: 20;
  top: $nav-height;
  .mobile-menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    .nav-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        margin: 0 1em;
        color: $white;
        font-weight: $medium-weight;
        text-decoration: none;
        font-size: $m-size;
        margin: 1em 0;
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background: $white;
}

.button--logo {
  z-index: 5;
  .logo {
    width: 100%;
    height: 100%;
    .shape {
      fill: $white;
    }
  }
}

.home {
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
  box-sizing: border-box;
  .home-content {
    max-width: 60em;
  }
  .intro {
    h1 {
      font-size: $l-size*1.25;
      font-weight: $bold-weight;
    }
    h2 {
      font-size: $m-size;
      font-weight: $medium-weight;
    }
  }
  .intro-links {
    display: flex;
    flex: 1 auto;
    margin: 0;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    .intro-link {
      &:hover {
        text-decoration: underline;
      }
      a {
        text-decoration: none;
      }
      .link-main {
        font-size: $m-size;
        font-weight: $medium-weight;
        color: $accent;
        margin: 0;
      }
      .link-description {
        font-size: $s-size;
        font-weight: $regular-weight;
        text-decoration: none;
        color: $darker;
        margin-top: 0.5em;
      }
    }
  }
}

.update-list {
  padding: 0;
  list-style: none;
  li {
    .sub-heading {
      margin-bottom: 0.5em;
      font-size: $s-size;
    }
    .update-list--content {
      margin-top: 0;
    }
  }
}

.text-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  width: 100%;
  padding-right: 0.5em;
  li {
    display: flex;
    flex: 1 auto;
    &.active a {
      color: $accent;
    }
  }
  a {
    padding: 0.2em 0;
    text-decoration: none;
    font-weight: $regular-weight;
    &:hover {
      //text-decoration: underline;
    }
  }
  &.no-results {
    p {
      font-weight: $regular-weight;
    }
  }
}

.page-content {
  overflow-y: scroll;
  height: 100%;
  box-sizing: border-box;
  padding: 0.5em 2em;
}

.grid {
  display: flex;
  flex-direction: column;
  font-size: $s-size;
  margin: 0;
  padding: 0;
  .grid-header {
    font-weight: $medium-weight;
  }
  .grid-item {
    display: grid;
    row-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 8em));
    border-bottom: 2px $light-grey solid;
    p {
      word-break: break-word;
    }
  }
  .grid-notice {
    list-style: none;
    font-weight: $medium-weight;
  }
  &--header {
    margin-top: 0.5em;
    .grid-item {
      border: none;
    }
    p {
      margin: 0.5em 0.5em 0 0;
    }
  }
}

.search--info {
  max-width: 20em;
  margin-top: 1em;
}

input {
  background: $grey;
  border-radius: 4px;
  color: $light-grey;
  border: 0;
  padding: 0.4em 0.6em;
  font-family: rubik, sans-serif;
  font-size: $s-size;
  &[type="text"]::placeholder {
    color: $light-grey;
  }
}

button {
  border: 0;
  background: $dark-grey;
  color: $white;
  border-radius: 4px;
  padding: 0.4em 0.6em;
  font-family: rubik, sans-serif;
  cursor: pointer;
  transition: background $transition-slow;
  &:hover {
    background: $darker-grey;
  }
}

.button--primary {
  padding: 0.6em 0.8em;
  background: $accent;
  font-weight: $medium-weight;
  font-size: $s-size;
  font-size: $s-size;
}

.button--secondary {
  padding: 0.6em 0.8em;
  background: $dark-grey;
  font-weight: $medium-weight;
  font-size: $s-size;
}

.actions {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
  button {
    margin-right: 0.5em;
  }
}

.options {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
  padding: 0.5em;
  background: $off-white;
  button {
    margin-right: 0.5em;
  }
  .option {
    display: flex;
    flex-direction: row;
  }
}

.text-link {
  text-decoration: none;
  color: $accent;
  font-weight: $medium-weight;
  &:hover, &:visited {
    text-decoration: underline;
    color: $accent;
  }
}


.search-form {
  display: flex;
  flex-direction: row;
  input {
    border-radius: 0;
    width: 100%;
  }
  .button--search {
    border-radius: 0 4px 4px 0;
    padding: 0.4em 1em;
  }
  .button--close {
    border-radius: 4px 0 0 4px;
    padding: 0.4em 0.4em;
  }
}

.page-header {
  padding: 1em 2em;
  top: 0;
  position: sticky;
  background: $off-white;
  .heading {
    margin: 0;
  }
  .sub-heading {
    margin: 0;
    color: $dark-grey;
  }
}

.page-type-heading {
  font-size: $s-size;
  font-weight: $medium-weight;
  margin: 0.25em 0;
}

.heading {
  font-size: $l-size;
  font-weight: $medium-weight;
}

.sub-heading {
  font-size: $m-size;
  font-weight: $medium-weight;
}

.text {
  font-size: $s-size;
}

.search-list {
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex: 1 auto;
  .text-list {
    .list-item {
      padding: 0.1em 0.3em;
      border-radius: 4px;
      transition: background $transition-fast;
      a {
        color: $white;
        font-size: $s-size;
        font-weight: $regular-weight;
        width: 100%;
        a:visited {
          color: $white;
        }
      }
      &.active {
        //text-decoration: underline;
        background: $accent;
      }
      &:hover:not(.active) {
        background: $grey;
      }
      p {
        margin: 0;
      }
    }
  }
}

.hidden {
  display: none !important;
}

.material-icons {
  line-height: 1.2;
}

button {
  &:disabled, &:disabled:hover {
    background: $grey;
    cursor: not-allowed;
  }
}

*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: $dark-grey; 
}
*::-webkit-scrollbar-thumb {
  background: $grey;
}

@media screen and (max-width: 40em) {
  
  .text {
    font-size: 1.05em;
  }
  .main {
    flex-direction: column;
    .intro-links {
      grid-template-columns: repeat(1, 1fr);
    }
    .page-header {
      padding: 1em;
    }
    .page-content {
      padding: 0.5em 1em;
    }
    .grid {
      .grid-item {
        display: grid;
        row-gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 5em));
      }
    }
  }
}
