$accent: #595EE6;
$white: #fefefe;
$grey: #f3f3f3;
$dark: #222;
$nav-height: 3em;
$nav-link-size: 1.2em;
$container-padding: 1em;
$intro-h1-size: 3em;
$intro-h2-size: 1.75em;
$reference-h1-size: 1.3em;
$section-title-size: 1.5em;
$content-text-size: 1.15em;
$content-title-size: 1.3em;
$grid-element-padding: 1.5em;
$grid-element-korean-size: 2.75em;
$grid-element-pronunciation-size: 1.4em;
$colour-selection: #c8c5cc;

@import 'partials/mixins';
@import 'partials/media-queries';
@import 'partials/nav';
@import 'partials/overlay';
@import 'partials/intro';
@import 'partials/content';

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

::-moz-selection { background: $colour-selection; }
::selection { background: $colour-selection; }

.main {
  padding: $container-padding;
}

ins {
    min-width: 300px;
    min-height: 50px;
}
