$accent: #595EE6;
$white: #fefefe;
$dark: #222;
$nav-height: 3em;
$nav-link-size: 1.2em;
$container-padding: 1em;
$intro-h1-size: 3em;
$intro-h2-size: 1.75em;
$reference-h1-size: 1.3em;
$section-title-size: 1.5em;
$content-text-size: 1.15em;
$content-title-size: 1.3em;
$grid-element-padding: 1.5em;
$grid-element-korean-size: 2.75em;
$grid-element-pronunciation-size: 1.4em;
$colour-selection: #c8c5cc;

@import 'partials/mixins';
@import 'partials/media-queries';
@import 'partials/nav';
@import 'partials/overlay';
@import 'partials/intro';

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

::-moz-selection { background: $colour-selection; }
::selection { background: $colour-selection; }

.noscroll {
  overflow: hidden;
}

.content__korean {
  color: $accent;
  font-weight: 600;
}

.content__link {
  @include content-link;
  font-weight: 700;
}

.content__blocklist {
  @include list-wrap;
  .blocklist__item--12vertical {
    @include blocklist-item;
    flex-direction: column;
  }
  .blocklist__item--123vertical {
    @include blocklist-item;
    flex-direction: column;
  }
  .blocklist__item--12horizontal {
    @include blocklist-item;
  }
  .blocklist__item--123horizontal {
    @include blocklist-item;
    flex-wrap: wrap;
    justify-content: flex-end;
    div {
      width: 50%;
    }
  }
}

.about {
  @include flex-container;
  padding: $container-padding;
  .about__title {
    @include section-title;
  }
  .about__content {
    @include flex-container;
    @include content-container;
    .content__text {
      @include content-text;
    }
    .content__title {
      @include content-title;
    }
  }
}

.main {
  padding: $container-padding;
}

.content__title {
  @include section-title;
}

.content--container {
  @include flex-container;
  padding-top: 2em;
  padding-bottom: 2em;
}

.content__text {
  @include content-text;
}

.content {
  @include content-container;
  @include flex-container;
  padding-top: 1.5em;
}

.content__koreanlist {
  @include list-wrap;
}

.koreanlist__item {
  @include list-container;
}

.item__korean {
  @include list-korean;
}

.item__korean--blocks {
  @include list-korean;
  text-align: center;
  font-size: 2em;
}

.item__pronunciation {
  @include list-pronunciation;
}

.content__next-steps {
  @include list-wrap;
  width: 100%;
  justify-content: left;
}

.next-steps__source {
  @include content-text;
  width: 100%;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.content__sources {
  @include list-wrap;
  width: 100%;
  justify-content: left;
}

.sources__source {
  @include content-text;
}

.source__link {
  @include content-link;
  font-weight: 700;
  font-size: 1.2em;
}

.source__link--next-steps {
  @include content-link;
  font-weight: 700;
  font-size: 1.2em;
}

.source__price {
  font-weight: 700;
}

.content__wordList {
  @include list-wrap;
  width: 100%;
  justify-content: left;
}

.wordList__word {
  width: 50%;
  display: flex;
  //@include content-text;
}

.content__korean--wordList {
  color: $accent;
  font-weight: 600;
  padding-right: 0.5em;
  font-size: 1.15em;
}
