@import './../../scss/variables.scss';

.radio-input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 2.75rem;
  min-height: 2.75rem;
  cursor: pointer;
  input {
    display: none;
  }
  &__input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.4rem;
    height: 1.4rem;
    background: $white;
    border: 2px solid $grey;
    border-radius: 50%;
  }
  &__selection {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background: $dark-grey;
    visibility: hidden;
  }
  &--active {
    .radio-input__input {
      border-color: $accent;
    }
    .radio-input__selection {
      background: $accent;
      visibility: visible;
    }
  }
  &:hover {
    .radio-input__input {
      border-color: $darker-grey;
    }
    .radio-input__selection {
      background: $darker-grey;
      visibility: visible;
    }
  }
  &:hover.radio-input--active {
    .radio-input__input {
      border-color: $accent-dark;
    }
    .radio-input__selection {
      background: $accent-dark;
      visibility: visible;
    }
  }
}
