@import './../../scss/variables.scss';

.table {
  background: $white;
  width: 100%;
  border: 1px solid $off-whiter;
  border-radius: $border-radius;
  overflow: auto;

  .grid {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    .grid-header {
      font-weight: $medium-weight;
      padding: $spacing * 0.75 $spacing;
      background: $off-white;
      color: $darker-grey;
      border-bottom: 1px solid $off-whiter;
      text-transform: uppercase;
      letter-spacing: 0.02em;
    }
    .grid-search {
      background: $white;
      padding: $spacing;
      border-bottom: 1px solid $off-whiter;
      .search-form {
        margin: 0;
      }
    }
    .grid-item {
      display: grid;
      row-gap: $spacing;
      column-gap: $spacing;
      padding: $spacing;
      grid-template-columns: repeat(auto-fit, minmax(min-content, 10em));
      border-bottom: 1px $off-white solid;
      transition: background $transition-fast;
      &:hover {
        background: rgba(93, 97, 218, 0.04);
      }
      p {
        word-break: break-word;
        margin: 0;
        line-height: 1.45;
      }
      &:last-child {
        border-bottom: none;
      }
    }
    .grid-notice {
      list-style: none;
      font-weight: $regular-weight;
      padding: $spacing;
      p {
        margin: 0;
      }
    }
    &--header {
      position: sticky;
      top: 0;
      background: $white;
      padding: 0;
      .grid-item {
        border: none;
      }
      .search-form {
        max-width: 400px;
      }
      p {
        margin: 0 calc($spacing / 2) 0 0;
      }
    }
  }
}

.mobile {
  p[data-slug='n'] {
    display: none;
  }
  .table {
    border-radius: 0;
  }
}
