@import './../../scss/variables.scss';

.table {
  background: $white;
  border-radius: $border-radius 0 0 $border-radius;
  width: 100%;
  border-radius: $border-radius;
  overflow: auto;

  .grid {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    .grid-header {
      font-weight: $medium-weight;
      padding: calc($spacing / 2) $spacing;
      background: $off-white;
    }
    .grid-search {
      background: $dark;
      padding: calc($spacing / 2) $spacing;
    }
    .grid-item {
      display: grid;
      row-gap: $spacing;
      column-gap: $spacing;
      padding: $spacing;
      grid-template-columns: repeat(auto-fit, minmax(min-content, 10em));
      border-bottom: 2px $off-white solid;
      p {
        word-break: break-word;
        margin: 0;
      }
      &:last-child {
        border-bottom: none;
      }
    }
    .grid-notice {
      list-style: none;
      font-weight: $regular-weight;
      padding: $spacing;
      p {
        margin: 0;
      }
    }
    &--header {
      position: sticky;
      top: 0;
      background: $white;
      padding: 0;
      .grid-item {
        border: none;
      }
      .search-form {
        max-width: 400px;
      }
      p {
        margin: calc($spacing / 2) calc($spacing / 2) 0 0;
      }
    }
  }
}

.mobile {
  p[data-slug='n'] {
    display: none;
  }
  .table {
    border-radius: 0;
  }
}
