$button-padding: 0.4em 0.8em;

.button {
  @include button;
}

.button--purple {
  @include button;
  background: $accent;
  color: $white;
  padding: $button-padding;
  &:hover:not(:disabled) {
    background: $accent-dark;
  }
}
.button--dark {
  @include button;
  background: $dark;
  color: $white;
  padding: $button-padding;
  &:hover:not(:disabled) {
    background: $darker;
  }
}

button:disabled {
  cursor: not-allowed !important;
}