main {
  background: $white;
  min-height: 100vh;
  flex: 7;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

p {
  font-size: $p-size;
  font-weight: $p-weight;
}

.content {
  display: flex;
  flex-direction: row;
}

.related-content {
  font-weight: 600;
  color: $dark;
  padding: $content-padding/2 $content-padding;
}

.form--search {
  display: flex;
  .input__search {
    max-width: 8em;
  }
}

.input__search {
  font-family: 'Open Sans', sans-serif;
  font-size: $input-size;
  font-weight: $input-weight;
  color: $grey;
  background: $white;
  border: none;
  margin: 0;
  padding: 0.2em 0.5em;
  max-width: 10em;
  @include smooth-transition;
}

.content__heading {
  font-size: $heading-size;
  font-weight: $heading-weight;
  color: $white;
}

.content__subheading {
  font-size: $sub-heading-size;
  font-weight: $sub-heading-weight;
  color: $white;
}

.content__title {
  font-size: $sub-heading-size;
  font-weight: $sub-heading-weight;
  color: $white;
}

.header {
  padding: $content-padding/2 $content-padding;
  background: $accent;
  color: $white;
}

.flex {
  display: flex;
}

.link-text {
  @include link-underline;
  font-weight: 600;
  &.accent {
    color: $accent;
    &:visited {
      color: $accent;
    }
    &:before {
      border-bottom: 0.2em solid $accent;
    }
  }
  &.white {
    color: $white;
    &:visited {
      color: $white;
    }
    &:before {
      border-bottom: 0.2em solid $white !important;
    }
  }
}

.row__search {
  padding: 0.5em 1em 0.5em 0;
  display: flex;
  flex-wrap: wrap;
  .resultsCounter {
    color: $white;
    margin: 0.5em;
    margin-left: 2em;
  }
}

.noscroll {
  overflow: hidden;
}

.info__content {
  padding: $content-padding/2 $content-padding;
  display: flex;
  flex: 1;
}

.content__link {
  text-transform: uppercase;
  @include link-underline;
  &.is-active {
    &:before {
      transform: translateY(0em) ;
      opacity: 1;
    }  
  }
}

.hidden {
  display: none;
}

.visible {
  display: block !important;
}

.lazy-bg-image {
  background: $grey;
}

.lazy-loaded {
  animation: lazyLoadAnim 0.5s ease-in;
  opacity: 1;
}

@keyframes lazyLoadAnim {
  from {
    opacity: 0
  }
  to {
    opacity: 1;
  }
}