@media screen and (max-width: 58em) {
  html body {
    .nav {
      background: $blue-dark;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 5;
      padding: $content-padding/6 $content-padding/3;
      @include bottom-shadow;
      .nav__content {
        display: none;
      }
      .button--logo {
        width: 3em;
        height: 3em;
      }
    }
    main {
      padding-top: 3.6em;
      .grid, .grid--related-content {
        grid-template-columns: repeat(1, 1fr);
      }
      .list {
        &.list--col_2 {
          .column__title {
            grid-gap: 0;
            grid-template-columns: repeat(2, minmax(min-content, 15em));
          }
          .list__row {
            grid-gap: 0;
            grid-template-columns: repeat(2, minmax(min-content, 15em));
          }
        }
        &.list--col_3 {
          .column__title {
            grid-gap: 0;
            grid-template-columns: repeat(3, minmax(min-content, 15em));
          }
          .list__row {
            grid-gap: 0;
            grid-template-columns: repeat(3, minmax(min-content, 15em));
          }
        }
        .list__row, .column__title {
          padding: 0;
        }
      }
      .row__search .resultsCounter {
        margin-left: 0;
      }
      .korean__container {
        flex-direction: column-reverse;
      }
    }
  }
}

@media screen and (min-width: 58em) {
  html body {
    .overlay {
      display: none;
    }
    .nav {
      .nav__content--mobile {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 58.01em ) and (max-width: 80em) {
  html body {
    main {
      .grid, .grid--related-content {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}