@import './../../scss/variables.scss';

.test {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  text-align: center;

  &-characters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    list-style: none;
    font-size: $xl-size;
    margin: Calc($spacing / 2) 0;
  }

  &-character {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    //margin-right: Calc($spacing / 2);
    width: 3rem;
    height: 3.5rem;
    &--active {
      border: 2px $dark-grey solid;
      border-radius: $border-radius;
      span {
        display: none !important;
      }
    }
    &--completed {
      border: none;
      span {
        display: none !important;
      }
    }
    span {
      display: flex;
      width: 80%;
      height: 2px;
      background: $dark-grey;
    }
    p {
      margin: 0;
    }
  }

  &-choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: $spacing 0;
    list-style: none;
  }

  &-choice {
    margin-right: 0.5em;
  }

  &-content {
    padding-top: $spacing;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-word {
    font-weight: 600;
    text-align: center;
    font-size: $m-size;
    padding-bottom: Calc($spacing / 2);
  }

  &-actions {
    padding-top: $spacing;
  }

  .test-button--selected {
    background-color: pink;
  }

  .text {
    margin: 0;
  }
}
